[2020-05-08 15:13] vaikas opened #1 "Set up prow correctly"
I thought I configured prow here:
https://github.com/knative/test-infra/pull/2038

But there's obviously a step still missing or I screwed something up. I thought I followed the instructions here correctly, but for example CLA bot is not showing up, nor prow.
https://github.com/knative/community/pull/125#pullrequestreview-407910134

[2020-06-11 19:41] sbcd90 opened #4 "Make the config params in rabbitmq_types.go optional"
maybe make these to pointers since they are optional.

_Originally posted by @vaikas in https://github.com/knative-sandbox/eventing-rabbitmq/pull/3#discussion_r427594785

https://github.com/knative-sandbox/eventing-rabbitmq/pull/3#discussion_r427595794

why is this here? aren't message consumed from the Queue that is bound to the Exchange?

_Originally posted by @markfisher in https://github.com/k

[2020-06-11 19:43] sbcd90 opened #5 "Use bindings for credentials"
We should use bindings for this. At the very least we should create an issue tracking. So we get things like TLS, etc.

_Originally posted by @vaikas in https://github.com/knative-sandbox/eventing-rabbitmq/pull/3#discussion_r427595428

https://github.com/knative-sandbox/eventing-rabbitmq/pull/3#discussion_r427599449

[2020-06-11 19:53] sbcd90 opened #6 "Source's RMQ resources aren't cleaned up on delete"
**Describe the bug**
As far as I can tell, in the current implementation, even if a Source resource is deleted, RMQ resources will remain (which means the Queue continues to receive messages via the Binding).

 **Expected behavior**
RMQ resources are cleaned up on deleting a Source
- binding (always)
- queue (if [spec.predeclared](https://github.com/knative-sandbox/eventing-rabbitmq/tree/main/sour

[2020-06-11 19:57] sbcd90 opened #7 "Specify event type in user header"
Maybe not in this initial PR, but there would ideally be a way for a user header to specify the event type (since rabbitmq is typically just going to be the transport, not the "type"). This might lead to a discussion of a CloudEvent binding for amqp 0.91.

_Originally posted by @markfisher in https://github.com/knative-sandbox/eventing-rabbitmq/pull/3#discussion_r427614573

[2020-06-26 13:26] fbiville opened #8 "Cannot build `master` branch"
[code]

[2020-08-31 23:55] #8 closed

[2020-09-10 06:28] sbcd90 commented on #4
/reopen

[2020-09-10 06:29] sbcd90 commented on #4
/remove-lifecycle stale

[2020-09-10 06:29] sbcd90 commented on #6
/remove-lifecycle stale

[2020-09-10 06:29] sbcd90 commented on #5
/remove-lifecycle stale

[2020-09-10 06:30] sbcd90 commented on #7
/remove-lifecycle stale

[2020-09-17 19:34] vaikas opened #61 "Cleanup the rabbitmq queue names after Keda upstream is fixed."
Once https://github.com/kedacore/keda/pull/1169 lands. We should change the queue names to be of the form:
namespace/name
instead of namespace-name

That can cause collisions. Then you have to make a matching change in
https://github.com/knative-sandbox/eventing-autoscaler-keda

[2020-09-18 09:07] aliok opened #66 "Pass pod names as env var in deployments for logging purposes"
**Problem**
With https://github.com/knative/pkg/pull/1714, pod names passed as env vars are used in logging.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
Pod name passed as env vars properly to pods in deployments.

**Time Estimate (optional):**
0.125

**Additional context (optional)**
Ref impl: https://gith

[2020-09-22 16:42] Gsantomaggio opened #77 "no matches for kind "Broker" in version "eventing.knative.dev/v1 error"
I am following the instructions here:
https://github.com/knative-sandbox/eventing-rabbitmq/tree/master/broker

Everything ok until I try:
[code]

I get this error:
[code]

Am I missing something?

Thank you

[2020-09-23 00:06] vaikas commented on #77
Did you install the Knative eventing?
As in, you might not have the CRDs that you get from eventing in there?
What do you get when you do this:
vaikas-a01:wabbit vaikas$ kubectl get crds | grep brokers
brokers.eventing.knative.dev                         2020-06-26T19:48:17Z

[2020-09-25 11:41] Gsantomaggio commented on #77
Sorry, my fault.

I had some problem to follow the [example](https://github.com/knative-sandbox/eventing-rabbitmq/tree/master/broker).  It wasn't totally clear to me.

[2020-09-25 11:41] #77 closed

[2020-09-25 15:41] vaikas commented on #77
Oh no worries, maybe need to make the pre-requisites bigger and flashier :)

[2020-10-04 01:23] #1 closed

[2020-10-14 13:14] vaikas opened #124 "Utilize upgrade testing tool for e2e upgrade tests"
https://github.com/knative-sandbox/eventing-kafka-broker/pull/249

[2020-11-05 12:37] vaikas opened #153 "E2E tests failing on kind with the TLS / missing certs"
The resources are not only not becoming ready, they are not even being reconciled. However, this doesn't seem to be happening locally when I run these.

One example of a failing run:
https://github.com/knative-sandbox/eventing-rabbitmq/pull/152/checks?check_run_id=1355961403

[code]

[code]

And there's bunch of these in the logs as well:
[code]

[2020-11-05 12:55] vaikas commented on #153
Ok so looks like this is probably because we were using 0.17 version of eventing, which had a bug. Updated in the dot releases, but bumped to 0.18.4 to pick up all the fixes. I suppose in the future we could also have matrix tests for these as well so we test various versions of eventing.
https://github.com/knative/eventing/issues/4165

[2020-11-05 13:00] vaikas opened #155 "Add e2e tests with different versions of eventing."
We currently hard code the version of eventing we install as discovered in #153. We should probably have a matrix tests so we test for example, .17, .18 and .19 once it comes out.

[2020-11-05 13:10] vaikas opened #156 "Wait for Ready step in e2e actually does not wait for readiness, just sleeps."
While debugging failing e2e tests, found this here:
https://github.com/knative-sandbox/eventing-rabbitmq/pull/154/checks?check_run_id=1358305635

[code]

So, even though the broker wasn't ready (Error above), we kept on rolling with tests.

Looks like the step just sleeps, we should make sure everything is in running state.
[code]

[2020-11-05 14:44] #153 closed

[2020-11-08 17:10] vaikas opened #158 "E2E tests keep failing with sink not becoming ready"
Many times the e2e tests seem to fail with this:
https://github.com/knative-sandbox/eventing-rabbitmq/pull/157/checks?check_run_id=1363958987

[code]

And seems like the SinkBinding is not seeing the changes. I'm wondering if something is amiss with the sinkbinding in the upstream?

[2020-11-09 15:38] n3wscott commented on #158
Looks like we are using 0.18.4 for eventing. We just made a larger change to fix the error you are pointing at for sinkbinding about 2 weeks ago at head. Let's try again with a nightly?

[2020-11-09 15:40] vaikas commented on #158
Yup, We should also backport if this is indeed a bug with sinkbindings?

[2020-11-10 23:12] #155 closed

[2020-11-10 23:53] vaikas commented on #158
Added some more debugging, and this is what I'm seeing:

https://github.com/knative-sandbox/eventing-rabbitmq/runs/1382522794?check_suite_focus=true

[code]

[2020-11-11 01:28] vaikas commented on #158
And here's a passing run, can't really tell much of a difference from a quick look of things:
https://github.com/knative-sandbox/eventing-rabbitmq/runs/1382665523

[code]

[2020-11-19 20:21] embano1 opened #170 "Deadlock in dispatcher"
`forever` deadlocks the dispatcher, leading to unclean shutdown (and delayed K8s termination)

[2020-11-19 20:30] vaikas commented on #158
For now removed using sinkbinding until we figure out what the issue there is. Works just fine pointing directly to broker.

[2020-11-19 20:30] #158 closed

[2020-11-20 01:35] #170 closed

[2020-12-02 21:23] n3wscott opened #175 "Use GOPATH hacks to codegen anywhere."
Please see https://github.com/knative/eventing/pull/4621 or https://github.com/knative/serving/pull/10245 for an example.

[2021-01-09 02:22] #7 closed

[2021-01-09 02:22] #5 closed

[2021-01-09 02:22] #4 closed

[2021-01-15 16:05] vaikas opened #200 "Unable to delete a RabbitMQ Broker if no credentials"
If you create a RabbitMQ Broker and for some we fail to get the credentials when deleting, the object is unable to be deleted because the finalizer doesn't remove it because that might leak resources. Ideally we'd utilize k8s resources for this but this current behavior could at least delete the Broker and then warn / create a k8s event warning the user a RabbitMQ resource might have been leaked.

[2021-01-16 02:42] #61 closed

[2021-01-17 02:43] #66 closed

[2021-01-20 10:18] #156 closed

[2021-01-20 11:44] vaikas opened #211 "release v0.19.0 does not work with rabbitmqcluster >v1.0.0"
Release v0.19.0 does not work with the rabbitmqcluster operators due to changes in their API (but not bumping the version). This PR needs to be cherrypicked to the .19 branch and released for 0.19.1.

https://github.com/knative-sandbox/eventing-rabbitmq/commit/4b42db07eec689f4e3a09866c3b3f6593442c063#diff-aeeedc9f163a6c5113ac5b9e8844e7f2516e1b14dcb18ecb65f21ef60f636c69

Also we need to make it cle

[2021-01-20 11:46] vaikas commented on #211
Ok, I updated the release 0.19.0 with this:
NOTE This release does not work with >v1.0.0 of the rabbitmqcluster.

[2021-01-20 12:07] vaikas commented on #211
auto cp does not appear to work:
https://github.com/knative-sandbox/eventing-rabbitmq/pull/165#issuecomment-763551453

[2021-02-01 12:03] vaikas opened #219 "Support Trigger Delivery spec."
Trigger spec was modified to include Trigger level Delivery. Add support for it:
https://github.com/knative/eventing/pull/4654

[2021-02-13 01:33] #124 closed

[2021-02-24 21:23] cheskayang opened #236 "[question] use rabbitmq as source or broker"
I'm working on a project to adapting to knative.  I understand this is still in sandbox stage, since now the resources related to using rabbitmq with knative is very limit, I have some high-level question from which I hope I could get some feedback. Thanks a lot in advance.

If one already has a rabbitmq cluster running as a sort of event bus, and wants to make use of knative serving and eventing.

[2021-03-02 17:24] vaikas opened #239 "Requirements and ideal benchmarks for an MVP implementation"
## Case 1

### Setup
Generate 100 events/second into a Broker A in Namespace A for 10 seconds
Each event should have a unique id
Trigger A1 (no filters) targeting Broker A
	-> Service A1(with a 2 second sleep before ACK and containerConcurrency=10)
Trigger A2 (filters 50% of events) targeting Broker A
	-> Service A2 (same configuration)

Broker B in Namespace B
Trigger B (no filters) targeting Bro

[2021-03-02 17:24] vaikas opened #240 "Put together high-level approach for how we implement brokers (Ville)"

[2021-03-02 17:24] vaikas opened #241 "Add API shape for RabbitMQ Channel implementation"

[2021-03-03 16:46] sbawaska opened #245 "Testing cleanup (Docker)"
remove dependence on Docker for testing

[2021-03-09 23:45] #236 closed

[2021-03-23 22:02] vaikas opened #263 "Broker fails conformance for Malformed Event sent to it."
When trying to add the latest conformance tests, Broker fails malformed event with 415 instead of 400 as per spec:
https://github.com/knative/specs/blob/main/specs/eventing/broker.md

[code]

Test fails like so:

[code]

[2021-03-23 22:42] n3wscott commented on #263
NICE

[2021-03-24 16:00] vaikas commented on #263
So, this seems to be related to the fact that it's missing the ce-specversion. If I omit a field like 'ce-type', I get back a 400 as expected. So, just wondering if this is something that's in the cloudevents SDK where it handles the version differently. However, little curious why the eventing broker handles it, as I assume it is using the same library.

[2021-03-24 17:37] ChunyiLyu opened #264 "Should use RabbitMQ policy instead of queue arguments"
Hi 🙂 I’ve noticed that queues are configured with queue arguments, [like here](https://github.com/knative-sandbox/eventing-rabbitmq/blob/8778e9905cce25b8cd4bcaa8bc9004b1ab3f788a/pkg/reconciler/trigger/resources/queue.go#L73).

In general, we don’t recommend people to configure their queues with queue arguments. Instead, it’s a better practice to configure queues by using policies: https://www.rabb

[2021-04-03 01:25] #175 closed

[2021-04-19 22:16] nickjameswebb opened #275 "E2e test namespaces are not cleaned up, stuck in TERMINATING state"
Hi, I'm running the e2e tests against my own cluster and noticing that the testing namespaces (e.g. `rekt-nblftaso`) are not being deleted and are stuck in `TERMINATING`.

**Reproduction Steps:**
1. Using a kind cluster with: knative eventing 0.21.0, eventing-rabbitmq broker 0.21.0, rabbitmq cluster operator latest
2. Run a single test (test passes):
[code]
3. Get namespace:
[code]

**Notes:**
- R

[2021-04-21 01:15] vaikas commented on #275
I _think_ this was fixed by this:
https://github.com/knative-sandbox/eventing-rabbitmq/pull/271

Problem was that we really didn't want to leak RabbitMQ resources, so were being super careful about them, but it was a choice between leaking them possibly vs. leaving our resources in an undeleatable (well, without going in and mucking with finalizers) state.

[2021-04-21 01:17] vaikas commented on #275
@nickjameswebb do you have a way to test from the head?
something like for the head:
[code]
or grabbing a nightly:
[code]

[2021-04-21 22:24] nickjameswebb commented on #275
Thanks @vaikas! I tried it with the nightly build and that did the trick. Will look for this in the next release.

[2021-04-21 22:24] #275 closed

[2021-04-22 02:21] vaikas commented on #275
Ok, awesome! Sorry for the troubles, thanks for going to the trouble of reporting the issue and testing the newness!

[2021-04-29 15:39] #219 closed

[2021-05-04 18:38] vaikas opened #281 "Trigger dispatchers do not exit cleanly."
Looks like things are not exiting cleanly. Just jotting this down so we don't forget:
[code]

So they only seem to happen after something underneath them gets deleted, like so:
[code]

[2021-05-04 20:49] vaikas commented on #281
So, that was not why it was not cleanly exiting, but the error messaging was incorrect. But these kind of failures still persist:
[code]

[2021-05-04 22:16] #281 closed

[2021-05-04 23:04] vaikas opened #285 "Update installation instructions to reflect the rabbitmqcluster as well messaging-topology-operator"
Our install documents need to be updated.

[2021-05-11 02:15] npu21 opened #295 "Add virtual host config support for rabbitmq source"
kind/feature-request
 ## Overview
Add virtual host config support for rabbitmq source
## Description
we need to config virtual host for this kind mq
![image](https://user-images.githubusercontent.com/11768607/117741363-df570e00-b234-11eb-88ba-6c26e970aa50.png)

[2021-05-11 02:17] npu21 commented on #295
@vaikas Thanks!

[2021-05-11 16:57] nickjameswebb commented on #285
@vaikas could you include some info on version compatibility with these changes? It's not very obvious that eventing-rabbitmq 0.22.0 isn't compatible with messaging-topo-operator latest, for example.

Thanks!

[2021-05-12 05:44] vaikas commented on #285
Yeah, that's precisely what this issue is about.

[2021-05-12 10:49] vaikas opened #300 "Coverage report was not run, did something change?"
As I was working on the coverage tests, it's nice to see the numbers go up :)

So, here you can see cov report was produced:
https://github.com/knative-sandbox/eventing-rabbitmq/pull/294

But, it wasn't run here:
https://github.com/knative-sandbox/eventing-rabbitmq/pull/299

[2021-05-12 11:02] vaikas commented on #300
Hm, it did run:
https://app.codecov.io/gh/knative-sandbox/eventing-rabbitmq/compare/299

But there's something weird anyways, since looking at the coverage chart it stops March 4th):
https://app.codecov.io/gh/knative-sandbox/eventing-rabbitmq/
it seems to have stopped in March (the chart, it obviously shows recent PRs)

Say, compared to here:
https://app.codecov.io/gh/knative/eventing

[2021-05-12 11:08] vaikas commented on #300
Ok, so in the settings there I changed the default branch that was still set to master to main. So, now it shows numbers going up, and it makes me happy.

[2021-05-12 11:08] #300 closed

[2021-05-16 02:19] #200 closed

[2021-05-17 12:24] vaikas opened #304 "Add validating webhook targeting our Broker class."
We should add a webhook that checks incoming Brokers and makes sure that if they have our BrokerClass, that we validate it, so we can move code like this out of the backend and instead fail fast.

https://github.com/knative-sandbox/eventing-rabbitmq/blob/main/pkg/reconciler/broker/broker_config.go#L55
https://github.com/knative-sandbox/eventing-rabbitmq/blob/main/pkg/reconciler/broker/broker_confi

[2021-05-17 12:26] vaikas commented on #304
Well, we should still leave it in the backend in case somebody creates brokers without having installed the webhook, but still failing fast would be preferable.

[2021-05-21 02:13] #211 closed

[2021-05-27 15:36] #285 closed

[2021-05-27 16:41] vaikas opened #316 "Think about adding a sugar controller that stamps out RabbitMQ clusters"
If the cluster has rabbitmq operator, wonder if it would be bad if we created a sugar controller that (could be baked in with our Broker controller so as to not add another piece) would actually stamp out (based on say a configmap for defaults) RabbitMQclusters so that a user would get a rabbit cluster when they create a broker without having to also create the rabbitmqcluster resource.

So, if en

[2021-05-27 21:45] n3wscott commented on #304
+1 do it, sounds awesome.

[2021-05-30 01:49] cheskayang opened #320 "nightly version for standalone broker returns 404"
Could not apply it following this url listed in doc
kubectl apply -f https://storage.googleapis.com/knative-nightly/eventing-rabbitmq/latest/rabbitmq-broker-standalone.yaml

however, this one works
kubectl apply -f https://storage.googleapis.com/knative-nightly/eventing-rabbitmq/latest/rabbitmq-standalone-broker.yaml

[2021-06-01 15:29] vaikas commented on #320
Thanks and sorry about that :(

[2021-06-01 20:36] cheskayang commented on #320
thx

[2021-06-01 20:36] #320 closed

[2021-06-01 20:52] cheskayang opened #328 "dispatcher throws error on json.Unmarshal for legit cloud event"
I'm sending cloud events using https://github.com/cloudevents/sdk-javascript#readme.

when sending the event to rabbitmq broker, the dispatcher throws error
[code]
with the following message:
[code]

if I change datacontenttype from "application/json; charset=utf-8" to "application/json", the event can be handled properly. I'm bypassing this issue temporarily by overwriting this

you can reproduce

[2021-06-01 21:37] cheskayang opened #329 "[feature request] allow set prefetch on dispatcher"
right now, the prefetch on dispatcher is set to 1. This seems to be very restrictive, especially for long-running consumers.

I'm wondering why 1 is chosen?

event with keda to scale it based on the number of messages, it still seems inefficient.

Is there a plan to allow set the prefetch count or increase the default?

thx!

[2021-06-02 22:18] #304 closed

[2021-06-03 09:13] #295 closed

[2021-06-03 10:59] vaikas commented on #329
You mean here:
https://github.com/knative-sandbox/eventing-rabbitmq/blob/main/cmd/dispatcher/main.go#L51

Is this something that would be enough to specify at the Broker level?  Since dispatcher is for each Trigger, being able to configure it would mean changing the API and that won't be doable in the near future due to v1 work. However, adding that configuration option and plumbing that into a di

[2021-06-03 11:01] vaikas commented on #328
Just making sure is this happening with the rabbitmq source, or when sending to the RabbitMQ Knative Broker?
Regardless, the dispatcher should be changed to handle this :)

[2021-06-03 13:11] cheskayang commented on #328
@vaikas  thx for the quick response! It's happening with the broker. we are using the standalone broker.

[2021-06-03 13:57] cheskayang commented on #329
@vaikas thx for the quick response! Right, I'm referring to the code you linked.

I think in the long run, it probably makes the most sense to allow flexibility on the trigger level.

But if we can allow the config on the broker level in the short run, I think it would offer a lot of flexibilities, which is good enough

[2021-06-04 12:59] vaikas opened #334 "Ensure Broker Ingress uses Publisher-Confirm."
The channel must be configured to use Publisher Confirm, since the acks are asynchronous. As per this article here:
https://www.rabbitmq.com/tutorials/tutorial-seven-java.html#:~:text=Publisher%20confirms%20are%20a%20RabbitMQ,of%20on%20the%20server%20side.

[2021-06-07 12:59] vaikas opened #338 "Add validation webhook for Trigger."
It should disallow some changes because the underlying resources are immutable, and the only way to update them is to delete/recreate. For example, changing a Delivery.DeadLetterSink results possibly in creation/deletion of queues and will create dropped events which is probably unexpected from the users POV.

[2021-06-07 13:12] vaikas commented on #240
https://docs.google.com/document/d/1LjcpCMAeoAg5qgQqksCGadIpSLpRL29ffiSL_4Bx3wQ/edit#

[2021-06-09 08:47] vaikas opened #343 "Unify the RabbitMQ resource naming into one place"
Currently in both pkg/reconciler/{broker,trigger,brokerstandalone,triggerstandalone}/resources there are many duplicate functions dealing with names.

We should probably unify them all into something like:
pkg/rabbitnaming
and do it all in one place.

Also resolve this TODO while doing it (there's few others):
https://github.com/knative-sandbox/eventing-rabbitmq/blob/main/pkg/reconciler/broker/res

[2021-06-09 15:59] #343 closed

[2021-07-03 01:22] #245 closed

[2021-07-19 17:40] ChunyiLyu opened #366 "Should use `rabbitmq/amqp091-go` instead of `streadway/amqp`"
Library `github.com/streadway/amqp` (used in couple places in `pkg/reconciler/brokerstandalone/resources/`) hasn't been updated or maintained for a while. RabbitMQ team has hard forked the repo to https://github.com/rabbitmq/amqp091-go.

[2021-07-22 17:34] gabo1208 opened #367 "The RabbitMQ Source doesn't handle translating msgs to CloudEvents"
Fixing those to-dos on:
- [1st](https://github.com/knative-sandbox/eventing-rabbitmq/blob/0852ca4c32d683ff7561a78e0d2a66904528c2ff/pkg/adapter/adapter.go#L312)
  - Doesn't re wrap messages that are already CloudEvents
  - Differentiate if the message is a CloudEvent in Binary or Structured encoding
  - Set all the required fields if the message is not a CloudEvent and have to be translated
- [2nd]

[2021-07-22 17:34] gabo1208 commented on #367
/assign

[2021-07-23 01:24] #263 closed

[2021-08-23 18:35] xtreme-sameer-vohra commented on #366
Hey @ChunyiLyu
Thanks for creating the issue. Based on the listed [Project Maturity](https://github.com/rabbitmq/amqp091-go#project-maturity), is there a milestone/planned release after which one could expect more stability in terms of breaking API changes ?

[2021-08-23 20:46] gabo1208 commented on #366
I managed to get this repo with the amqp091-go lib by just aliasing and changing the lib in the https://github.com/vaikas/wabbit repo, But im interested to see if we could add the wabbit lib or fork to the amqp091 project.

[2021-08-27 02:23] gabo1208 opened #388 "Write an spec for the comunication between amqp091 and cloudevents"
**Problem**
A short explanation of the problem, including relevant restrictions.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Producers, consumers and integrators

**Exit Criteria**
When you consume a message from a rabbitmq producer and want to transform it into a cloudevent and forward it to a consumer, it should be a clear behaviour definition to follow for th

[2021-08-27 02:25] gabo1208 opened #389 "Issue with the e2e tests and the 1.8.0 and 1.8.1 rabbitmq-cluster operator"
**Describe the bug**
Some of the brokers and sources e2e tests are failing if you are using the v1.8+ of the rabbitmq cluster operator

 **Expected behavior**
The e2e tests should run as expected.

 **To Reproduce**
Locally run:
SYSTEM_NAMESPACE=knative-eventing go test -v -race -count=1 -timeout=15m -tags=e2e ./test/e2e/... -run 'TestSource.*' or
SYSTEM_NAMESPACE=knative-eventing go test -v -race

[2021-08-30 18:27] benmoss opened #391 "Unrouteable messages are always sent to a DLQ"
On my cluster I have a broker, a trigger, and an event producer, but the trigger is currently unable to resolve its sink. The behavior I see is that the broker's DLQ is filling up with these undeliverable messages, despite there not being any DLQ configured on the Broker or the Trigger. This seems like a bad situation, since nobody is going to read from this cluster either and it will eventually c

[2021-08-31 19:04] gabo1208 commented on #389
Fixed by [this](https://github.com/knative-sandbox/eventing-rabbitmq/pull/392) PR

Was a resource issue with the rabbitmq cluster CRD in the new versions (1.8.x)

[2021-08-31 19:06] #389 closed

[2021-09-01 19:43] xtreme-sameer-vohra opened #395 "Consulting RabbitMQ about our implementation (review broker, discuss Channel spike, escalate needs for CRDs to replace wabbit and rabbit-hole"
Tasks
- [x] Review Broker
- [ ] ~~Discuss Channel Spike~~
- [x] Escalate Needs for CRDs to replace wabbit & rabbit-hole

[2021-09-01 19:45] xtreme-sameer-vohra commented on #395
These issues were identified as improvements
- https://github.com/knative-sandbox/eventing-rabbitmq/issues/334
- https://github.com/knative-sandbox/eventing-rabbitmq/issues/338

[2021-09-01 19:46] xtreme-sameer-vohra commented on #395
The [Messaging Topology K8s Operator](https://www.rabbitmq.com/kubernetes/operator/using-topology-operator.html) provides CRDS

[2021-09-01 19:48] xtreme-sameer-vohra opened #396 "Implement Channels (DON'T use wabbit and rabbit-hole, ideally) [Needs Split]"

[2021-09-01 19:49] #395 closed

[2021-09-01 23:16] gabo1208 opened #397 "Move Wabbit to local folder inside this repo (For now)"
**Problem**
The separation between wabbit (We are currently using @vaikas fork) and this project is making the maintenance and updating a little slower than it should.
Wabbit is currently used to provide mocks, and fakes via interface for the unit testing.
As @n3wscott proposed, I want to move the wabbit lib to a folder inside this project, so we can speed up the process of updating it or maybe ev

[2021-09-02 16:39] xtreme-sameer-vohra commented on #239
@evankanderson @benmoss
Updated the description based on our discussion today. Anything to add ?

[2021-09-02 21:55] benmoss opened #401 "Bump to go 1.17"
Accidentally switched on my dev machine and now getting code generation with the new `// go:build !ignore_autogenerated`s.

Upgrading to 1.16 everywhere was a mess, lets see if we can do it better :)

[2021-09-05 04:16] evankanderson commented on #239
Roughly correct, yes.

It would be nice to have a second broker in a different namespace with a trigger matching at least a few events to make sure we don't cross the streams.

Also, each event should have a unique id, and we should check that the IDs line up at the end.

Bonus points for including a pod kill during the test (we might need more than 10s load to execute that).

[2021-09-06 10:59] vaikas commented on #397
Maybe another option if we want to continue using the wabbit (I saw some comments about it somewhere saying there are other ways) is to see if we can get these upstreamed. At the time I started this work I didn't have my current employers blessing to contribute to the upstream, I got that later, but never went back to upstream them. I think there's only like 5 commits or so that I added there so s

[2021-09-06 14:52] gabo1208 commented on #397
Thats a good idea too, let me present this to the rabbit team and see what they think about that 👍🏼

[2021-09-07 21:30] gabo1208 commented on #397
https://github.com/gabo1208/eventing-rabbitmq/tree/move-wabbit-and-bump-amqp-lib here is a branch with this workin and with the wabbit amqp dependency moved from streadway/amqp to rabbitmq/amqp091-go.
I plan to use this branch together a comunication spec between amqp091 and cloudevents to see if they can adopt this in their org repo and start maintaining it

[2021-09-07 21:35] gabo1208 commented on #388
/assign

[2021-09-07 21:35] gabo1208 commented on #397
/assign

[2021-09-08 15:54] xtreme-sameer-vohra commented on #239
Thanks updated it.
For the bonus points, which pods should be getting killed ?

[2021-09-08 20:47] xtreme-sameer-vohra opened #408 ""Long Term" Requirements and Benchmarks [Discuss with RabbitMQ team]"
TODO exact requirements.
As a first pass it should be at minimum
- 100x more messages
- 10x more queues

than the MVP requirements in terms of scale as laid out in https://github.com/knative-sandbox/eventing-rabbitmq/issues/239

Open Questions
- How do these match up with whats has been done for the In memory Broker - https://github.com/knative/eventing/tree/main/test/performance

[2021-09-08 20:50] embano1 opened #409 "Be smarter about retries"
The dispatcher currently considers all !2xx || !3xx status codes as retryable, which is somewhat against the HTTP protocol spec:

https://github.com/knative-sandbox/eventing-rabbitmq/blob/928976461374266e0c029bc61719c68b3dffad8b/pkg/dispatcher/dispatcher.go#L160

I'm happy to file a PR if we get consensus on which codes we want to retry. Related work:

- https://docs.aws.amazon.com/apigateway/api-

[2021-09-10 14:57] xtreme-sameer-vohra commented on #409
Thanks for filing this @embano1
Seems pretty reasonable to be more specific. At minimum we should cover the explicit http status checks.

[2021-09-10 20:04] xtreme-sameer-vohra opened #410 "[Spike] Audit the architecture of the broker/dispatcher pieces to outline options to increase throughput of events."
Known issue: Currently the dispatcher only processes a single event at a time and is a bottleneck in the case where the a consumer can scale to handle more events. See https://github.com/knative-sandbox/eventing-rabbitmq/issues/329

Open Question
- How we configure the queues on the Rabbit side ? (As a reference GCP PubSub uses 32 threads / dispatcher)

[2021-09-13 11:19] gvmw commented on #239
This is a WIP comment which will likely be moved to a different place, but since this is our starting point, this is easiest for us (+@ikvmw). Discard/change this when that happens.

---

We chose to set up Knative on GKE Autopilot because that was the easiest thing for us. These are our observations and issues:

- The Knative operator installs itself in the `default` namespace. We were expecting

[2021-09-13 18:38] xtreme-sameer-vohra commented on #366
Related #328

[2021-09-13 18:40] xtreme-sameer-vohra opened #411 "Remove support for Standalone RabbitMQ"
## Context
Currently, the eventing-rabbitmq integration provides two versions of the RabbitMQ Knative Eventing Broker.
1.  [Standalone RabbitMQ](https://github.com/knative-sandbox/eventing-rabbitmq/blob/main/broker/README.md#standalone-broker)
2.  [RabbitMQ operator based Broker](https://github.com/knative-sandbox/eventing-rabbitmq/blob/main/broker/README.md#rabbitmq-operator-based-broker)

The St

[2021-09-13 18:43] xtreme-sameer-vohra commented on #411
cc @cheskayang since you mentioned y'all are using the Standalone broker [here](https://github.com/knative-sandbox/eventing-rabbitmq/issues/328#issuecomment-853857656)

[2021-09-13 18:47] xtreme-sameer-vohra commented on #328
/remove-lifecycle stale

[2021-09-13 18:47] xtreme-sameer-vohra commented on #338
/remove-lifecycle stale

[2021-09-13 19:18] xtreme-sameer-vohra opened #412 "How can I benchmark eventing-rabbitmq?"
Blocked on #239

## Ask
Instructions to setup and validate requirements listed under #239 - `Expectation from Developer perspective` given
- a fresh K8s cluster > 1.21.0
- KUBECONFIG pointing to cluster

## References
Eventing - https://github.com/knative/eventing/tree/main/test/performance
Kafka - https://github.com/knative-sandbox/eventing-kafka/tree/main/test/performance

[2021-09-13 19:23] #410 closed

[2021-09-13 19:25] xtreme-sameer-vohra opened #413 "Audit and document install & upgrade instructions for eventing-rabbitmq and its dependencies"
Document for[ Operator Based Broker](https://github.com/knative-sandbox/eventing-rabbitmq/blob/main/broker/README.md#rabbitmq-operator-based-broker) in the repo

See #450  for details for RabbitMQ Operators
See https://knative.dev/docs/install/upgrade/upgrade-installation/ for Knative Eventing Upgrade Process

Document
- [ ] Install
- [ ] Upgrade
- [ ] Uninstall
- [ ] Add reference to [Production

[2021-09-13 20:04] benmoss commented on #329
/assign
/remove-lifecycle stale

[2021-09-13 20:21] xtreme-sameer-vohra opened #414 "Audit and implement traces for RabbitMQ Eventing pieces"
- Add documentation for behaviour in repo
- Add documentation for behaviour on knative.dev
- Add Reference to RabbitMQ docs for the two operators

##### Reference
https://github.com/knative-sandbox/eventing-rabbitmq/pull/370

[2021-09-13 20:23] xtreme-sameer-vohra opened #415 "Implement Metrics for RabbitMQ Eventing pieces"
**Problem**
Unclear if metrics are present. If they are, what metrics are available ?

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this feature for?
- Event Producer
- System Operator

### Exit Criteria
- [ ] Users can observe metrics for Eventing RabbitMQ components
- [ ] Document the metrics emitted and setup instructions (referencing [knative.

[2021-09-13 20:23] xtreme-sameer-vohra opened #416 "Samples on how to use Knative + RabbitMQ"
Add to [Eventing Samples](https://knative.dev/docs/eventing/samples/)
- [ ] Broker + Trigger sample
- [ ] Source -> Knative Service sample

Pre-requisite should point to a Operator Based RabbitMQ installation

[2021-09-14 14:35] xtreme-sameer-vohra commented on #239
Autopilot has a bunch of limitations which prevents Knative from working on it. Interestingly looks like their limitations have changed slightly in the docs since it was launched a few months ago.
This might be a good topic at the sync but folks generally use vanilla K8s on Public clouds and kind for local dev.

[2021-09-15 21:44] evankanderson commented on #411
https://github.com/knative/community/blob/main/mechanics/SUNSETTING-FEATURES.md provides a guide for what to do in this case.

[2021-09-16 13:41] benmoss commented on #414
/assign

[2021-09-16 13:41] benmoss commented on #414
/unassign

[2021-09-16 13:57] xtreme-sameer-vohra commented on #412
/assign @ikvmw

[2021-09-17 19:14] xtreme-sameer-vohra opened #424 "Document a Trigger's Behavior for FIFO, High Throughput modes"
Ensure the configuration and expected behavior is documented for end users, specifically
- message channel is rate-limited by the prefetch count, so the number of goroutines will equal the prefetch
- setting prefetch to 1 with no autoscaling would be equivalent of FIFO

[2021-09-19 19:15] embano1 commented on #424
Related #418

[2021-09-19 19:23] embano1 commented on #338
We should also add validation around delivery settings, e.g. retries.

[2021-09-19 19:24] embano1 commented on #424
Also, autoscaling and its behavior should be documented (i.e. not supported, use KEDA, etc.)

[2021-09-20 15:45] embano1 commented on #424
Also, document how visibility timeouts (crashed/unresponsive KService) affect ordering due to 10s default hearbeat timeout currently used https://github.com/streadway/amqp/blob/master/connection.go#L133-L136.

[2021-09-20 16:49] gerhard commented on #239
These are all the commands that we run to provision GKE Autopilot, Crossplane & provider-gcp and then setup a dedicated GKE cluster for Knative:

[code]

In our case, it is a matter of running `make crossplane crossplane-gke` from within our private infrastructure repository: https://github.com/rabbitmq/infrastructure

These yaml files capture the config for Crossplane provider-gcp & the resulting

[2021-09-20 16:53] gabo1208 commented on #239
Sounds good to me, so we would have the same env to start working in those tests 👍🏼

[2021-09-20 17:05] gerhard commented on #239
The goal is to keep the context in a single place - this GKE cluster - and make shared progress. If we each create our own namespace for experiments, then we will avoid stepping on each other's feet, and not duplicate the same base resources: knative, rabbitmq-cluster-operator, rabbitmq-topology-operator, cert-manager etc.

[2021-09-20 17:40] benmoss opened #425 "Graceful shutdown"
We ought to be handling SIGTERM signals in the dispatcher and shutting down. We could do some kind of timeout and nack procedure to requeue the currently in-flight events.

https://www.rabbitmq.com/confirms.html
https://cloud.google.com/blog/products/containers-kubernetes/kubernetes-best-practices-terminating-with-grace

[2021-09-20 17:49] #425 closed

[2021-09-21 16:02] gerhard commented on #388
https://hackmd.io/VUONMvUkRH2103cbJFetdg

[2021-09-21 18:01] benmoss commented on #409
https://github.com/knative/specs/blob/main/specs/eventing/data-plane.md#event-acknowledgement-and-delivery-retry

[2021-09-21 20:35] benmoss commented on #409
https://github.com/knative-sandbox/eventing-kafka-broker/blob/3b860bf2870caa2b27e39683d7507fd6dd6cd136/data-plane/dispatcher/src/main/java/dev/knative/eventing/kafka/broker/dispatcher/impl/WebClientCloudEventSender.java#L84-L90

https://github.com/knative/eventing/blob/f031ba23b23d20ed8d13491000feb0abcf50d562/pkg/channel/message_dispatcher.go#L312-L315

It seems this might be the standard among im

[2021-09-22 03:11] xtreme-sameer-vohra commented on #366
cc @ikvmw @gvmw do either of y'all have context regarding at which point switching is a good idea ?

[2021-09-22 14:49] gvmw commented on #366
Switching now is a good idea. This has been a long-time coming, and we would like to see as many users of the Go RabbitMQ client switch to a version which is officially supported and maintained.

cc @michaelklishin @GSantomaggio

[2021-09-22 15:07] Gsantomaggio commented on #366
Totally agree.

Even not related I was thinking to propose the same change in [argo-events](https://github.com/argoproj/argo-events/blob/master/go.mod#L72)

[2021-09-22 16:33] #397 closed

[2021-09-22 20:41] xtreme-sameer-vohra commented on #328
Can we reproduce this issue with Operator based Broker as well ?

[2021-09-23 06:56] embano1 commented on #409
I wonder why this is overwritten at all and not the default option used? https://github.com/cloudevents/sdk-go/blob/c6de9589bb3578364689adc64414000dabe93c01/v2/protocol/http/protocol.go#L40

This looks like it does what we need (although retrying on 500 would be nice too, I may want to file a PR for the SDK)?

[2021-09-23 13:00] benmoss commented on #409
Yeah, it definitely seems like something the sdk should be handling

[2021-09-23 13:37] lionelvillard commented on #409
just in case you haven't seen this: https://github.com/knative/eventing/blob/main/pkg/kncloudevents/retries.go

and this: https://github.com/knative/eventing/pull/5285

[2021-09-23 14:14] embano1 commented on #409
@lionelvillard are you suggesting we should be using kncloudevents as client?

[2021-09-23 14:27] lionelvillard commented on #409
I'm just raising awareness, not suggesting anything :-) kncloudevents is meant to be Knative eventing compliant so maybe it makes sense for you to use it.

[2021-09-23 15:33] embano1 commented on #409
@benmoss thoughts?

[2021-09-24 17:40] vaikas commented on #409
@embano1 for the context on why the overrides:
https://github.com/knative-sandbox/eventing-rabbitmq/pull/113

And:
https://github.com/cloudevents/sdk-go/issues/595

Not saying it's correct the way it is, just answering the why :)

[2021-09-24 18:03] embano1 commented on #409
Gotcha! So IMHO we have couple of options here (most, if not all of them breaking):

1) adopt kncloudevents client
1) drop custom retryer in favor of default in ce-client
1) enhance custom retryer as proposed above

[2021-09-26 01:24] #316 closed

[2021-09-27 22:24] gabo1208 commented on #366
Fixed on [this](https://github.com/knative-sandbox/eventing-rabbitmq/pull/436/files) PR and also upstreamed wabbit from a private fork we had :)

[2021-09-28 16:14] #366 closed

[2021-09-28 22:52] gabo1208 opened #438 "Do we want to support batch events sending"
We need to decide if we want to support the CloudEvents batch format or not, and the implement it.

[2021-09-29 08:01] #329 closed

[2021-09-29 18:44] benmoss commented on #391
Creating a trigger with a subscriber `uri` of `https://dev.null` repros this

[2021-09-29 20:53] benmoss commented on #391
Turns out this is because we always create a DLQ internally in Rabbit, even if we don't have anything configured. This seems bad, since it will mean undeliverable message will fill up our Rabbit cluster, rather than being discarded as per the eventing contract

[2021-09-30 14:46] gvmw opened #442 "What is the simplest way to start contributing to this project?"
This is a follow-up to https://github.com/knative-sandbox/eventing-rabbitmq/pull/441#issuecomment-931269819, as promised.

[2021-09-30 14:46] gvmw commented on #442
/assign

[2021-09-30 15:23] benmoss commented on #438
https://github.com/knative/eventing/issues/4409 I don't think eventing generally supports the json batch format

[2021-09-30 15:42] gabo1208 commented on #438
Yeah this is like a thought of mine based on a TODO, but the solution should be to wait for the sockets implementation?

[2021-09-30 16:41] evankanderson commented on #438
I'd prioritize HTTP/2 support first, then measure the improvement batch provides.

[2021-09-30 16:45] evankanderson commented on #438
Rationale: HTTP/1.1 Is likely encumbered by a lot of TCP setup/teardown per request, which probably imposes substantial overhead. HTTP/2 allows multiplexing requests over a single TCP pipe for the cost of a library change for clients. Adding batch delivery support requires restructuring code vs current implementations, so has a higher ecosystem cost.

[2021-10-03 17:41] xtreme-sameer-vohra opened #443 "BackoffDelay value doesn't match type"
**Describe the bug**
Dispatcher is in a CrashLoopBackOff and fails to come up

 **Expected behavior**
Dispatcher is running

 **To Reproduce**
1. Install eventing-rabbitmq
2. Create a Broker
3. Create a Trigger
4. Dispatcher pod fails to come up with
[code]

 **Knative release version**
v0.26 of Eventing
Main branch of eventing-rabbitmq on [85a4198](https://github.com/knative-sandbox/eventing-rabb

[2021-10-04 08:47] gvmw commented on #239
We have agreed with @ikvmw to wrap this up via the following steps:
- [ ] contribute a new doc that outlines the steps necessary to perform this benchmark
- [ ] contribute a Makefile & relevant YAML that performs all steps in this doc

[2021-10-04 13:42] gvmw commented on #443
Fixed via https://github.com/knative-sandbox/eventing-rabbitmq/pull/446

[2021-10-04 14:18] xtreme-sameer-vohra commented on #239
Thanks @gvmw
Should we move the `Expectation from Operator perspective` into a separate issue, so #445 can close this issue ?

[2021-10-04 15:07] gvmw commented on #443
If latest dev works for you, please close 😉

[2021-10-04 15:14] gvmw commented on #239
I would rename this issue to `How can I benchmark eventing-rabbitmq?` and update the content to focus on what end-users will be able to achieve after this is delivered.

I would mention GKE as a starting point, because KiND is not a good place to start benchmarking.

I would also mention where we want this to live - I think the repo - and how we expect users to run it. My default go-to is Makefile

[2021-10-04 16:01] benmoss opened #448 "Updating a trigger's deadLetterSink puts the queue into a bad state"
There's not a way to update the dead letter exchange of a queue, so I think if we encounter the following scenario, the only option other than immutability would be to delete and recreate the queue.

- Declare a broker with a dead letter sink
- Declare a trigger with a dead letter sink
- Remove the DLS from the trigger

You'll see that the queue doesn't change to point to the broker's DLX, and if

[2021-10-04 16:04] benmoss commented on #448
One option we could consider would be to create a two DLXs, one for trigger and one for the broker. We could bind the trigger DLX initially to a trigger queue, but then if we allow mutability we could remove that binding and replace it with a binding to the broker exchange.

[2021-10-04 16:25] evankanderson commented on #391
Ah, I was going to point to the broker spec, but it sounds like this is internal to Rabbit...

https://github.com/knative/specs/blob/main/specs/eventing/control-plane.md#broker

If no `delivery` options are set on a Trigger, the Broker's `delivery` options should be used.

[2021-10-04 16:32] benmoss commented on #391
I think this might be related to #448, maybe the intention of this design was to work around the lack of mutability in RabbitMQ. Once you declare a queue, you can't change where its dead letter exchange points to, so one option is to preemptively declare resources you don't yet need so that you can allow the user to update the Knative broker/trigger without needing to recreate the backing RMQ reso

[2021-10-04 20:34] gabo1208 commented on #438
Nice! Supper clear, thanks @evankanderson

[2021-10-04 21:02] xtreme-sameer-vohra commented on #328
I was also unable to reproduce the problem with ([running latest](https://github.com/knative-sandbox/eventing-rabbitmq/commit/5cfcc6686cecca509e1a5bf3955c7ffce9b5f61a)) with the operator based broker.

Used the following curl command to the Broker, which was able to deliver the event to an event-display service without an error
[code]

@cheskayang going to close the issue as we aren't able to repr

[2021-10-04 21:02] #328 closed

[2021-10-04 21:26] xtreme-sameer-vohra commented on #443
Yep, looks good. Thanks @gvmw

[2021-10-04 21:26] #443 closed

[2021-10-04 22:32] xtreme-sameer-vohra opened #450 "Understand upstream release management & document upgrade process"
Open Questions
- Release cadence between cluster operator & messaging-topology operator
- CRDs upgrade/conversion contract & expectations [Ref](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning/#overview)
- What is the upgrade/downgrade experience for users ? This should be documented.

[2021-10-04 22:44] xtreme-sameer-vohra commented on #239
Just realized that https://github.com/knative-sandbox/eventing-rabbitmq/issues/412 covers this.
This issue was useful to align on requirements, which has happened so it can be closed. Added links to open issues for `Expectation from Operator perspective` section

Agreed that we don't want to rely on KiND for getting consistent benchmarking results.

The setup artifacts (scripts, yaml, etc) can liv

[2021-10-04 22:44] #239 closed

[2021-10-05 14:00] benmoss commented on #448
Per @gvmw maybe we can use policies to mutate the queue

[2021-10-05 14:12] gvmw commented on #448
https://github.com/rabbitmq/messaging-topology-operator/blob/main/docs/examples/policies/lazy-queue-policy.yaml

[2021-10-05 18:04] benmoss opened #451 "Validate trigger binding immutability in the broker webhook"
If you update the filters on a trigger right now, your trigger will go into status `BindingFailure` with the error `binding spec differs and it's immutable` from [here](https://github.com/knative-sandbox/eventing-rabbitmq/blob/5cfcc6686cecca509e1a5bf3955c7ffce9b5f61a/pkg/reconciler/trigger/trigger.go#L471).

This seems like something we can do in the webhook to prevent users from updating this res

[2021-10-06 08:13] gvmw commented on #239
While https://github.com/knative-sandbox/eventing-rabbitmq/pull/445 contains the YAML that configures the benchmark, and we (+@ikvmw) also intend to have the step-by-step guide in that PR as well, I wanted to start with the WIP guide variant here, and move it across when it's done. Here it goes:

## 1/n. Pre-requisites

- GKE 1.20 with
- kubectl 1.20
- [ko 0.9.3](https://github.com/google/ko/relea

[2021-10-06 13:25] xtreme-sameer-vohra opened #452 "[Spike] Do e2e / conformance tests cover the RabbitMQ operator based broker ?"
Hint: Broker -> spec.config (how it gets the secret has multiple paths and all of these might not be tested eg. cluster-operator-> secret)

[2021-10-06 14:41] gerhard commented on #450
As far as I know, these are released ad-hoc and independently: any of these operators can be released at any point in time.

This is the only relevant doc that I am aware of which looks somewhat useful: https://github.com/rabbitmq/cluster-operator/blob/c813d56785460dd9ecef7a2423851c90afeeaf4e/docs/proposals/20200806-versioning-release-strategy.md

I don't know anything about this, but I think that

[2021-10-06 14:49] yaronp68 commented on #450
the release cadence of OSS operators is currently ad-hoc. We support loose semver so typically no features in patches only in minors.  The APIs are still not GA
Regarding upgrade experience of the operator (and how to decide when to upgrade a cluster) there are docs:
[upgrading the operators](https://rabbitmq.com/kubernetes/operator/upgrade-operator.html)

[2021-10-07 09:56] MirahImage commented on #450
The APIs follow the standard K8s convention, in that there will be no breaking changes without a version bump, and there will be backwards compatibility, as outlined in https://kubernetes.io/docs/reference/using-api/deprecation-policy/

[2021-10-07 14:52] #451 closed

[2021-10-07 22:27] xtreme-sameer-vohra commented on #450
Thanks for the links.
Sounds like there is no coupling between the Cluster operator and Messaging Toplogy operator and eventing-rabbitmq should attempt to bump to their latest versions independently ?

[2021-10-08 16:04] xtreme-sameer-vohra commented on #450
That sounds great. Is there a timeline/milestone one can follow ?

[2021-10-11 18:43] xtreme-sameer-vohra opened #454 "Multiple Knative Brokers in different namespaces that connect and use a single RabbitMQ cluster instance"
**Problem**
A user might prefer to create a single RabbitMQ cluster with sufficient capacity to service all messaging needs of a single K8s cluster. It would be desirable to have multiple Knative Brokers (across multiple namespaces such as foo, bar) connect to and use a single RabbitMQ cluster thats created in baz namespace.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas

[2021-10-12 18:18] benmoss opened #455 "Event source should not require declaring the exchange and the queue"
Right now the event source will [declare an exchange, a queue, and a binding](https://github.com/knative-sandbox/eventing-rabbitmq/blob/95462cfe87b8372512b8f77573e0f47078258477/pkg/adapter/adapter.go#L192-L247). It's possible to specify an existing exchange and queue for the source to use, but it will still redeclare the exchange, queue, and binding.

We should make it possible to skip declaring t

[2021-10-13 06:50] embano1 commented on #409
I agree Ben, we should align with the Knative Eventing spec then - even though I'm not 100% on the same page with some decisions here.

But this also means we have to implement our own retry code mapping [1] since the CloudEvents SDK has a diverging (from the above spec) default:

[code]

[1]
Not sure if there's already a pkg in Knative land which provides these mappings in compliance with the SPE

[2021-10-14 07:24] MarcialRosales commented on #334
@gvmw Indeed it is a good way to exert back-pressure, but it is also the only way to ensure guarantee of delivery of messages for senders. Otherwise, it is a fire-and-forget model which is not what the majority of customers expect.

As you propose, the simplest solution is to force a FIFO model by blocking further HTTP requests until the previous send has received its publisher-confirm. But I gues

[2021-10-14 12:42] gvmw commented on #454
There is another part to this. When the `Exchange` object gets created, it should pick up the `Broker` namespace property.

Given the following `Broker` object:

[code]

This `Exchange` object gets created internally:

[code]

This is what's missing:

[code]

[2021-10-19 18:38] benmoss opened #465 "Deleting trigger DLQ spec should clean up resources"
Repro:
- Create a broker/trigger with a DLQ on the trigger spec
- Remove the DLQ from the trigger spec
- The binding between the exchange and the queue should be deleted
- The DLQ queue should be deleted
- The dispatcher on the queue should be deleted

[2021-10-19 18:55] benmoss opened #466 "Broker class shouldn't be configurable"
Right now for some reason we expose the broker class that the controller operates on as an environment variable. This is going to be really broken since we hardcode the broker class a bunch of other places. I don't see a compelling reason to support using a custom broker class, so we should just turn it into a const and not an envConfig setting.

https://github.com/knative-sandbox/eventing-rabbitm

[2021-10-20 15:47] benmoss opened #469 "Trigger filters should be mutable"
With https://github.com/knative-sandbox/eventing-rabbitmq/pull/468 we started enforcing that trigger filters are immutable. Because of how RMQ works we would have to delete the existing binding and create a new one, which is a delicate dance to do to avoid dropping messages. We'd prefer to potentially have duplicate deliveries, so I believe the strategy we'd need to implement is:

- t0 Create a se

[2021-10-27 16:21] xtreme-sameer-vohra opened #474 "Update eventing-rabbitmq status in preparation of Knative 1.0"
Reference - https://groups.google.com/g/knative-dev/c/v0Xoohokw1M

[2021-10-29 16:01] xtreme-sameer-vohra opened #479 "Bump RabbitMQ Dependencies to latest versions"
**Problem**
The latest available versions of the RabbitMQ dependencies are
- RabbitMQ Cluster Operator : 1.10.0
- RabbitMQ Messaging Topology Operator : 1.2.1

The versions being tested in the workflows
- RabbitMQ Cluster Operator : 1.8.2
- RabbitMQ Messaging Topology Operator : 0.8.0

This ensures eventing-rabbitmq is compatible with the latest versions of RabbitMQ dependencies

**[Persona:](http

[2021-11-02 17:28] xtreme-sameer-vohra commented on #474
Addressed by https://github.com/knative-sandbox/eventing-rabbitmq/pull/483

[2021-11-02 17:28] #474 closed

[2021-11-02 18:39] gabo1208 commented on #388
Now moved to this repo, waiting for the next steps

[2021-11-02 18:39] #388 closed

[2021-11-03 13:41] gvmw commented on #334
/unassign

[2021-11-03 15:04] benmoss commented on #396
WIP from @vaikas here: https://github.com/knative-sandbox/eventing-rabbitmq/pull/358

[2021-11-03 15:05] #401 closed

[2021-11-03 16:46] #409 closed

[2021-11-04 16:09] gerhard commented on #455
/unassign

[2021-11-04 16:16] rikatz commented on #455
/assign
@gerhard will take a look here and let you know ! Thanks

[2021-11-08 09:18] ikvmw commented on #466
/assign

[2021-11-08 17:50] KauzClay opened #495 "Add documentation on how to run/investigate e2e tests"
## What
I would like to add a document on how to:
* ~run the e2e tests, particularly how to run specific tests~ (I see this is explained [here](https://github.com/knative/eventing/blob/main/test/README.md#one-test-case))
* keep the test namespace around for investigating failures
* accessing the rabbitmq profiling dashboard

## Why
I was running the e2e tests recently, and I had trouble finding ou

[2021-11-08 20:08] xtreme-sameer-vohra opened #496 "All eventing-rabbitmq pods use a restricted pod security standard profile"
**Problem**
Use a more restricted [securityContext](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/).

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this feature for?
This feature would be used by the K8s Cluster Administrator

**Exit Criteria**
All eventing-rabbitmq pods are run with a restricted pod security standard pr

[2021-11-08 22:49] xtreme-sameer-vohra commented on #412
Addressed by https://github.com/knative-sandbox/eventing-rabbitmq/pull/445

[2021-11-08 22:49] #412 closed

[2021-11-08 23:34] KauzClay commented on #495
I thought about this some more, and I think the things I want documented are a pretty specific to my problem.

keeping a test namespace around for investigating is only specific to the [e2e tests that have a finish step](https://github.com/knative-sandbox/eventing-rabbitmq/blob/main/test/e2e/main_test.go#L164)

And the rabbitmq profiling dashboard might not be as useful on tests that you can't as

[2021-11-08 23:34] #495 closed

[2021-11-10 21:44] benmoss opened #504 "Source should use some kind of backoff"
I have the source installed and it's failing to deliver messages to its subscriber and it's currently warming up my apartment with its retry rate 😄
![Screen Shot 2021-11-10 at 4 43 47 PM](https://user-images.githubusercontent.com/239754/141198473-03f62b28-d1c0-4ea5-a393-46c36daa153e.png)

# Open Question
- Is this change going to be additive or breaking the API ? If its the former and doesn't brea

[2021-11-10 22:16] #455 closed

[2021-11-11 16:04] benmoss opened #507 "Retry logic follow-up"
[code]

_Originally posted by @embano1 in https://github.com/knative-sandbox/eventing-rabbitmq/issues/486#issuecomment-960608260_

Let's make this change that @embano1 has suggested, we shouldn't have two definitions of retryable status codes.

[2021-11-11 22:07] benmoss opened #508 "Event source should support concurrent dispatch"
Right now just like https://github.com/knative-sandbox/eventing-rabbitmq/issues/329 the event source only reads one message off the queue at a time and then completes the whole HTTP roundtrip before moving on to the next message. We should support more than one message in-flight at a time.

[2021-11-15 03:20] xtreme-sameer-vohra commented on #408
https://github.com/knative-sandbox/eventing-rabbitmq/pull/491 outlines an upper bound that was observed.

[2021-11-15 15:14] gvmw opened #510 "Make the codecov action suggest, not fail"
Even though https://github.com/knative-sandbox/eventing-rabbitmq/pull/492 improves codebase coverage by `0.04%`, [`codecov/patch` action is failing](https://github.com/knative-sandbox/eventing-rabbitmq/pull/492/checks?check_run_id=4212877663) because some of the changes are not fully covered. Most of this is the label functions which are now the same across `Exchange`, `Queue` & `Binding`.

Since

[2021-11-15 15:35] gvmw opened #511 "Separate unit tests from integration tests"
While running `go test -v ./...` part of https://github.com/knative-sandbox/eventing-rabbitmq/pull/492 I noticed that rabbitmq containers get spun up in the local Docker daemon and integration tests run. This was unexpected, I thought this command runs just unit tests.

I think that we should add a separate build flag for integration tests, same as we do for `e2e` tests: https://github.com/knative

[2021-11-15 20:39] benmoss commented on #510
I was mistaken about this, it's failing because your PR is only 60% covered. It's unfortunate that you're changing lines that previously weren't covered, but I think Codecov is still right to call this out. We can (and do) regularly decide to ignore these failures.

[2021-11-16 11:12] ikvmw commented on #334
/assign

[2021-11-16 14:44] benmoss commented on #414
/assign

[2021-11-16 17:37] benmoss opened #513 "`ExchangeLabels`, `QueueLabels` and `BindingLabels` are identical functions"
`ExchangeLabels`, `QueueLabels` and `BindingLabels` are identical functions.

`ExchangeLabels` had one implementation, while `QueueLabels` and `BindingLabels` had another. This was my first step to unify them, as a precursor to maybe extracting into a single place.

I can revert if you think doing nothing is better than this change.

_Originally posted by @gvmw in https://github.com/knative-sandbo

[2021-11-16 21:26] #367 closed

[2021-11-16 21:42] #510 closed

[2021-11-16 21:58] gabo1208 commented on #508
/assign

[2021-11-18 14:58] benmoss commented on #264
/reopen
/remove-lifecycle stale

[2021-11-18 15:42] gabo1208 opened #516 "Add multiple options for performance in the brokers/source"
**Problem**
To make RabbitMQ's integration with Knative more performant, multiple queues or quorum queues should be an option or the default when creating Brokers and Source for the msg processing to be faster

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Developers

**Exit Criteria**
A decision on what to use and a clear performance improvement in doing so

**Add

[2021-11-18 15:46] gabo1208 commented on #516
cc @gvmw @embano1 and any other folks that were talking about performance, queues defaults and multiple queues in threads. Here we can follow this up

[2021-11-18 15:50] gabo1208 opened #517 "Improve e2e tests running and debugging docs"
**Problem**
There is a need to improve the process of running and debugging the e2e tests, there are a lot of env variables and tricks (SYSTEM_NAMESPACE, make the test namespace to persist between run, expose RabbitMQ management UI, etc...)
That are not obvious for new folks wanting to contribute that could be documented to speed up the learning curve into this matter in this repo.

**[Persona:](h

[2021-11-18 16:03] benmoss commented on #6
/remove-lifecycle stale
/reopen

I think this is still a problem for the source, I see the `logs` exchange and an `amq.gen-XWQIdanx-2MK8-HWTctwqg` queue orphaned after I delete the source

[2021-11-18 16:41] gvmw opened #518 "What is a good default production-ready RabbitMQ cluster?"
We have been talking with @xtreme-sameer-vohra @benmoss @gabo1208 and @salaboy what a default production-ready RabbitMQ cluster may look like in the context of **eventing-knative**. This was a follow-up to [Eventing RabbitMQ Delivery Semantics](https://docs.google.com/document/d/14YArSzMxqivDu80YeRvqHMYdP_ypk0-XWw5sVtiD2L8/edit) started with @embano1.

We have touched up on the following:

### Clu

[2021-11-18 18:25] #466 closed

[2021-11-18 23:59] xtreme-sameer-vohra commented on #518
Thanks for the detailed context @gvmw

That seems to be a pretty compelling reason for enabling eventing-rabbitmq user's to leverage Quorum Queues or even having them be the default queue type.

Do we know how much more memory ?
Noob question, in the case of a single node cluster, is a Quorum Queue == Classic Queue ?

Currently, without a dead letter sink configured, there would be 1 queue created

[2021-11-19 00:26] xtreme-sameer-vohra commented on #516
Hey @gabo1208
Is this referring to something different than https://github.com/knative-sandbox/eventing-rabbitmq/issues/518 ? If so, could you add provide more context as I am not sure I understand 🤔

[2021-11-19 00:41] xtreme-sameer-vohra opened #519 "Document unbounded storage growth scenarios"
**Problem**
Document scenarios where RabbitMQ cluster storage growth is unbounded, such as
- When a Trigger's dispatcher isn't able to deliver events to a sink
- When a Trigger's sink isn't available to receive events (expected behaviour with DLQ)

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this feature for?
Cluster Operator

**Exit Criteria**
-

[2021-11-19 01:07] xtreme-sameer-vohra opened #520 "Create a Architecture Diagram"
**Problem**
An architecture diagram/documentation that allows an eventing-rabbimq user to
- understand all the internal resources (queue, exchange, etc) created and who owns them (lifecycle) when they create a Source | Broker | Trigger

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this feature for?
Cluster Operator & Application Developer

**Exit

[2021-11-19 11:35] gvmw commented on #518
Yes, I think so too. I also think that @kjnilsson will be most interested in this use-case.

It depends on message size, throughput & replication factor as well as `x-max-in-memory-length` and/or `x-max-in-memory-bytes` **across all quorum queues**.

Out of the box, RabbitMQ nodes are expected to have 2GB memory just for the RA WAL: https://rabbitmq.com/quorum-queues.html#resource-use . This is on

[2021-11-19 11:43] gvmw commented on #455
Thank you @rikatz 🙌🏻

[2021-11-19 15:01] gabo1208 commented on #516
Just the multi queue for the source/brokers, not as broad as the #518 (was something @embano1 said in a thread that i dont want to get lost, maybe i can close this one in favour or @gvmw's issue)

[2021-11-19 17:30] embano1 opened #523 "Context setting is not affective in dispatcher"
This line is a no-op: https://github.com/knative-sandbox/eventing-rabbitmq/blob/c181b1443f6e2b4ca6c2b9578bd13d0c52a800d5/pkg/dispatcher/dispatcher.go#L166

Suggested solution: remove line and use the delivery settings configured in earlier steps in the dispatcher **unless** we want different delivery semantics for sending responses to the broker. Not sure if that's a valid use case (and covered in

[2021-11-19 17:54] JamesMcMahon commented on #508
Similar to what the broker is doing in https://github.com/knative-sandbox/eventing-rabbitmq/pull/418

[2021-11-19 17:56] gabo1208 commented on #508
Exactly, just not by annotations and some tweaks but is basically the same

[2021-11-25 13:29] andersonsoares-tomtom opened #526 "Knative RabbitMQ broker not generating URL."
**Describe the bug**
Rabbitmq broker do not generate URL.
[code]

 **Expected behavior**
Generate URL like Kafka Broker generated.

 **To Reproduce**
I'm trying to create a RabbitMQ broker to use against my Azure Service bus.
So, I have done the following,:
I used this docs `https://knative.dev/development/eventing/broker/rabbitmq-broker/`
and this one as well `https://github.com/knative-sandbox/e

[2021-11-27 07:01] embano1 commented on #516
Ah, this goes back to allowing for partitioning logic. The example given was to support one or multiple source queues for a `BrokerSource` and route them to multiple (created) queues in the `Broker` based on a partitioning key. Since we currently only have one `dipatcher` per trigger/queue this could lead to growing backlog if ingestion rate is high without further parallelization.

Alternative wo

[2021-11-29 15:54] #454 closed

[2021-11-29 16:20] benmoss commented on #523
I think the context still has the delivery settings from https://github.com/knative-sandbox/eventing-rabbitmq/blob/e2751827d7f740a148a2643daecb83a6032061c3/pkg/dispatcher/dispatcher.go#L146-L150, so I don't think there's any change other than deleting this dead code

[2021-11-29 16:21] benmoss commented on #523
Oh never mind, I guess with how this works the retries might have been used up by the previous request. So this must have been an attempt to reinitialize the retry count.

[2021-11-29 17:12] gvmw opened #528 "Deleting a RabbitMQ Source should delete the queue"
**Describe the bug**
When a `RabbitmqSource` is deleted, the queue that it creates is left behind.
This was observed part of https://github.com/knative-sandbox/eventing-rabbitmq/pull/522#issuecomment-981820162

 **Expected behavior**
When the `RabbitmqSource` is deleted, the queue should be deleted too, otherwise it will continue receiving messages:
![image](https://user-images.githubusercontent.c

[2021-11-29 17:23] KauzClay commented on #517
Hi @gabo1208 , where do you think this document should live? I'm working on it now, and I just made it as a README.md in the test/e2e dir.

[2021-11-29 18:53] embano1 commented on #523
Yeah, just that ctx is never updated/assigned to that call, hence ineffectual.

[2021-11-29 20:25] gabo1208 commented on #517
Seems the right place for it to be, and not forget to keep the reference to the knative help docs for more detailed documentation on the whole knative related test setup.

[2021-11-30 13:28] gvmw commented on #517
I think @gabo1208 that #525 addresses part of the problem. To try it out, given a vanilla host with `make` & `go` installed - I recommend a plain Linux VM - run `make e2e-setup test-e2e` and see what happens. My expectation is that everything will just work.

I still think we should merge #529, but my understanding is that the setup is the biggest struggle, as well as the fact that https://github.

[2021-11-30 17:16] benmoss commented on #528
I think the slight wrinkle is that the source accepts a pre-existing exchange and queue, so should presumably not delete either if it did not create them

[2021-11-30 17:21] benmoss commented on #528
Hmm, additional wrinkle is that the adapter itself creates the queue and exchange, so its not clear who should delete them and when

[2021-11-30 18:25] benmoss commented on #479
https://github.com/knative-sandbox/eventing-rabbitmq/pull/492 did this

/close

[2021-11-30 18:25] #479 closed

[2021-12-01 10:40] gvmw commented on #528
Yes, definitely.

Considering that a `Source` could connect to any RabbitMQ, including one that is not running on K8s, using the topology operator feels forced and heavy-handed.

I suspect that RabbitMQ is not deleting the Queue when the last channel disconnects as expected when `autoDelete=true`. I don't know if this is an option or how difficult this would be, but the simplest & quickest solutio

[2021-12-02 13:58] gvmw commented on #528
This discussion may provide some clarity: https://github.com/rabbitmq/rabbitmq-server/discussions/3833

Just started it today, let's see what happens.

[2021-12-02 14:40] benmoss commented on #414
#370

[2021-12-02 14:57] xtreme-sameer-vohra commented on #448
Reference issue - https://github.com/knative-sandbox/eventing-rabbitmq/issues/264

[2021-12-02 15:21] benmoss commented on #264
/assign

[2021-12-02 15:21] benmoss commented on #448
/assign

[2021-12-03 14:44] benmoss opened #534 "Broker ingress does not reconnect if connection to the RMQ is lost"
**Describe the bug**
If for some reason the ingresses' connection to the RabbitMQ server is lost, it will go into a permanent failure loop.

 **Expected behavior**
It should either exit on failure and allow k8s to restart it or re-establish the connection.

 **To Reproduce**
- Deploy a broker/trigger topology ([for example](https://gist.github.com/benmoss/a32017ec40eb22c53191c462c5d3f2db))
- Deter

[2021-12-03 14:48] #517 closed

[2021-12-03 19:13] gabo1208 opened #535 "Synchronize RabbitMQ Sources Adapter and RabbitMQ Triggers Dispatcher Prefetch Count behavior"
**Problem**
At the moment of writing this issue, RabbitMQ Source's Adapter and RabbitMQ Trigger's Dispatcher behave differently. To guarantee a consistent experience in the Eventing RabbitMQ implementation the following needs to be addressed:
- Have the same default behavior
- Have the same validation
- Have the same PrefetchCount limits

Extra: Have a good out of the box experience for the develo

[2021-12-03 19:32] gabo1208 opened #537 "There is no failover or protection when events fail to be sent from the RabbitMQ Source"
**Describe the bug**
When there is an error sending the events from the Source to a Sink they just keeps getting reqeued and RabbitMQ goes crazy:

<img width="1104" alt="screenshot_2021-12-02_at_15 58 22" src="https://user-images.githubusercontent.com/4516177/144662159-f6666963-3a1f-41fb-9a4d-f5ca00bc9be8.png">

When the peak in message rate in the graph starts to go down is when we configured the

[2021-12-06 15:20] xtreme-sameer-vohra opened #540 "At least once delivery semantics"
**Problem**
System Operators would like to provide a platform to Application Developers with `at least once` delivery semantics.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this feature for?
- **Event Consumer(Application Developers)** - using Knative Eventing
- **System Operator** - providing the platform to Event Consumers (Application Develop

[2021-12-06 15:26] #508 closed

[2021-12-07 11:28] ikvmw commented on #496
/assign

[2021-12-07 12:55] ikvmw commented on #415
/assign

[2021-12-07 16:41] ikvmw commented on #334
This is what I have in my head so far:

## RabbitMQ
1. The main goal for publisher-confirms is to make publishing reliable. That is it: give publisher good amount of guarantees. For example if message is a persistent message it will be acked only after storing on disk (note the expected latency - "hundreds of milliseconds" as per https://www.rabbitmq.com/confirms.html#publisher-confirms-latency)
2

[2021-12-07 17:24] gvmw commented on #334
It's great seeing the context that you've been building @ikvmw in the open.

I know for a fact that @embano1 cares a lot about events not being lost between the `Source` and the `Broker`. Maybe he can share more of the real-world use-case that requires those guarantees, since it is difficult to empathise with an end-user when we don't understand the context in which they operate this architecture.

[2021-12-07 17:33] ikvmw commented on #334
Thanks Gerhard,

Do you recall, what is our default regarding message persistence here?

[2021-12-07 18:30] gvmw commented on #334
In Knative Eventing RabbitMQ messages are persistent by default. Did you mean something else?

From the perspective of messages reaching one or more queues / streams in the broker, I would recommend looking at setting the `mandatory` flag too, since messages with no destination (no queue or stream to be routed too), they will be confirmed as received, but they will be discarded within RabbitMQ. Th

[2021-12-07 20:31] ikvmw commented on #334
Thanks @xtreme-sameer-vohra for this link: https://github.com/knative/specs/blob/main/specs/eventing/control-plane.md

My interpretation of the spec leads to this conclusion:

We have to use publisher confirms first and foremost to satisfy this spec passage:

[code]
and here are the requirements of event delivery:  https://github.com/knative/specs/blob/main/specs/eventing/data-plane.md#event-deliv

[2021-12-08 07:55] embano1 commented on #334
As you already quoted from the Knative SPEC, this would violate the safety guarantees of the SPEC. In the VEBA project the most common question we receive is "do you guarantee reliable delivery of an event". Let's not debate on what a "guarantee" here is for now. Talking to our users, they want at-least-once semantics from the Knative source, e.g. vSphere events, to the trigger/dispatcher (sink).

[2021-12-08 08:01] embano1 commented on #518
+1 on using quorum queues by default (unless there's a strong reason against it in favor of classic durable queues)

+1 on upper limit of 1k triggers. Users can always deploy a separate RMQ cluster/broker to increase capacity/throughput if needed.

[2021-12-08 08:11] ikvmw commented on #334
Thanks for the reply.

### Ticket
This ticket started without any spec reference and was about back-pressure. Once Sameer pointed to the relevant spec part the discussion comes much simplified for me.

### Context

What I meant is that if it's possible that event won't be processed in-time from sender PoV (think RPC-style) it doesn't matter for sender why it was like that - because broker failed o

[2021-12-08 08:26] ikvmw commented on #334
@xtreme-sameer-vohra @benmoss can we expect the same from CE SDKs in other languages?

[2021-12-08 09:20] kjnilsson commented on #518
What is a trigger (from a RabbitMQ POV)? a consuming application?

What is the expected throughput of a trigger and what would the average message size be? Do all trigger queues need to have their own dlx queue or could this be shared across the vhost? How are the dead-letters consumed? Could the dead-letter queue be a shared stream?

If the throughput isn't likely to be very high you could try to

[2021-12-08 09:26] embano1 commented on #518
Yes, code see here: https://github.com/knative-sandbox/eventing-rabbitmq/blob/main/pkg/dispatcher/dispatcher.go

Both is possible, though the common approach seems to be a shared DLQ used in Knative triggers.

[2021-12-08 10:17] ikvmw commented on #334
This is how I want to approach the implementation:

1. Get 200 working - for this we have to send response only after message acked. Since on ingress side we dial new connection for each message (why not reuse though?) and create a new channel, I think mutex not needed. We don't share confirm go channel here and buffer size can be just set to 1.

2. Get 429 working - Introduce a new setting Unacke

[2021-12-08 11:16] ikvmw commented on #334
Update to the post above - Ingress reuses single connection and channel for all messages

[2021-12-08 12:27] embano1 commented on #334
ACK

Thx for confirmation, that was also my understanding. And any form of additional locking/synchronization should also not be needed, correct?

This sounds like it can be done with the CE Go SDK [`RateLimiter`](https://github.com/cloudevents/sdk-go/blob/c80789d5488a078e05dc0db1a05f6562aca8168c/v2/protocol/http/options.go#L281), no?

[2021-12-08 12:44] ikvmw commented on #334
not quite like this. When we put channel in confirm mode each message has associated delivery tag and amqp091-go sends confirmations to the single go channel. So publishers have to pick up "their" confirmations. IIUC this usually approached with concurrent hashmaps. So say having separate go thread that just consumes confirmations and then consults hash maps and resends confirmation to exact publi

[2021-12-08 21:52] benmoss commented on #452
We do test the broker workflow passing in the `RabbitMQCluster` object, [this](https://github.com/knative-sandbox/eventing-rabbitmq/blob/e19128bf1ab043af81931004e73a3acd1e90cf68/.github/workflows/kind-e2e.yaml) workflow runs the e2e suite against the operator-based broker.

If this broker controller receives a broker that doesn't have a `RabbitMQCluster` as it's config it just errors out: https://

[2021-12-08 21:52] #452 closed

[2021-12-08 21:53] benmoss commented on #442
/close

[2021-12-08 21:53] #442 closed

[2021-12-09 00:03] #450 closed

[2021-12-09 00:11] xtreme-sameer-vohra opened #544 "Document Downgrade instructions for eventing-rabbitmq and its dependencies"
**Problem**
A user doesn't know
- if downgrades are possible
- the downgrade process

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this feature for?
System Operator

**Exit Criteria**
Document the process

**Additional context (optional)**
**This is currently a placeholder** - we don't have a concrete use case where this is required. However [Knat

[2021-12-09 00:12] xtreme-sameer-vohra commented on #413
Separate issue for Downgrade https://github.com/knative-sandbox/eventing-rabbitmq/issues/544

[2021-12-09 08:28] embano1 commented on #334
Quick update after our discussion yesterday:

- publisher confirmations are always async
- waiting for confirmations (delivery guarantee) increases latency, so must be configurable (default should be safe, i.e. wait for ack)
- configuration could be done via annotation on the knative broker for RMQ
- to parallelize request handling, we need to use goroutines in conjunction with a rate limiter to b

[2021-12-09 09:07] ikvmw commented on #334
We will have 1:1 mapping between HTTP request -> publish to RMQ. But because RMQ can batch acks, exactly like you describe "I ack up to ID X", we won't have 1:1 between acks/nacks and publishing. Therefore I'm search for  a ?good? thread-safe map implementation.

Looking at this post https://medium.com/@deckarep/the-new-kid-in-town-gos-sync-map-de24a6bf7c2c I understand that I maybe have three opt

[2021-12-09 09:34] embano1 commented on #334
Question: can you please describe how the delivery confirmation works in RMQ? I hope we can find a way to simplify parallel in-flight request handling without heavy locking.

Say I have three messages in flight (sent concurrently via separate goroutines calling `channel.Publish()`), message `1`, `2` and `3`. RMQ successfully processed `1` and `2`. Will I only receive one confirmation? What will th

[2021-12-09 15:15] ikvmw commented on #334
Here is how it works:

The go client will always synchronize publishes via mutex. It won't return deliveryTag. When channel was put in confirm mode channel user and server independently track it by incrementing for each message.

For us this means that as soon we are in confirm mode we initialize the counter and wrap channel.Publish, storage and increment in mutex. So we reduce time mutex held by

[2021-12-09 16:21] benmoss opened #545 "Broker should use binary mode CloudEvents"
**Problem**
We're using structured CloudEvents, which requires the dispatcher to read the body of the RabbitMQ message and deserialize it into a CloudEvent. If we published binary mode CloudEvents into Rabbit then we could dispatch them to the sink without needing to do any deserialization, which should increase the performance of the dispatcher.

**[Persona:](https://github.com/knative/eventing/b

[2021-12-09 16:37] benmoss opened #546 "Persistent messages"
We're using Durable queues, but we're [publishing transient messages](https://github.com/knative-sandbox/eventing-rabbitmq/blob/e19128bf1ab043af81931004e73a3acd1e90cf68/cmd/ingress/main.go#L142-L146) as far as I understand. This appears to be the default if you don't set [Publishing.DeliveryMode](https://pkg.go.dev/github.com/rabbitmq/amqp091-go#Publishing) to `2` ([amqp.Persistent](https://pkg.go

[2021-12-09 16:46] benmoss commented on #545
/assign

[2021-12-13 15:04] benmoss opened #550 "Figure out why CodeCov fails on trivial changes"
Why is the CodeCov action failing here? https://github.com/knative-sandbox/eventing-rabbitmq/pull/530

[2021-12-13 15:05] #523 closed

[2021-12-13 19:42] gvmw commented on #518
Yes.

This is difficult to answer, even as an estimation. To put it in a different form, I want to drive my car as fast as it's safe and legally allowed to. In this car <-> RabbitMQ analogy, what I am really interested in is the top speed that the car (RabbitMQ) can achieve.

Let's assume that messages are 10KiB in size and replication factor is 3. We already have the 2k quorum queue limit. For si

[2021-12-13 21:18] #414 closed

[2021-12-14 00:30] xtreme-sameer-vohra commented on #424
#### Open question
I am not sure how [requeue](https://github.com/knative-sandbox/eventing-rabbitmq/blob/e4db575945e91966a27894c09927a24014b8fa80/cmd/dispatcher/main.go#L45) impacts behavior. This doesn't appear to be part of the [Knative Delivery Spec](https://github.com/knative/specs/blob/main/specs/eventing/control-plane.md#event-delivery)

If `requeue` set to `true` and delivery keeps failing,

[2021-12-14 08:59] embano1 commented on #424
IMHO `requeue` is an implementation detail to comply with certain retry/redelivery aspects in the SPEC.

[2021-12-14 15:52] gvmw commented on #518
This is what we came up with @kjnilsson.

This will need to be benchmarked, but it's a starting point for a production-ready default:

- 3-node cluster
  - 4 vCPUs
  - 10GiB
  - 500GiB SSD disks - on GCP this translates to max. X IOPS & X MB/s throughput (throughput is more important than IOPS by the way)
- `autoheal` if there is no object churn, otherwise `pause_minority`
- quorum queues with 3 r

[2021-12-15 06:49] gvmw commented on #6
Only when **NOT** using the `predeclared` option, otherwise the resources should remain imo.

[2021-12-15 09:08] ikvmw commented on #334
What's new:

amqp-go client resequences confirms. https://github.com/rabbitmq/amqp091-go/blob/main/confirms.go
Without client rewrite "out-of-bound" confirms will be buffered and sent to listener channel only after all confirms with DeliveryTag lower are sent to the listener. On plus side, looks like we don't have to deal with mutliple:true.

On scaling side, while it's expected that ingresses wil

[2021-12-15 16:00] xtreme-sameer-vohra commented on #518
Thanks @gvmw @kjnilsson

This is configurable by the user. They can
- configure it on a Knative Broker. All Triggers that don't specify their own will share the Broker's dlx queue ( N queues : 1 DLX queue)
- configure it on a Trigger. This Trigger's queue would get its own dlx queue (1 queue: 1 DLX queue)
[Diagram](https://github.com/knative-sandbox/eventing-rabbitmq/blob/main/broker/README.md)

W

[2021-12-15 16:07] xtreme-sameer-vohra commented on #6
Makes sense. To confirm, if `predeclared` is set to `true`, no resources should be deleted

[2021-12-16 12:43] gabo1208 opened #553 "Standardize Brokers and Source docs and samples format"
**Problem**
When a developer tries the Brokers samples and/or docs, and then wants to try the Source ones, it seems like it is a completely different project, not even the samples have the same format nor the docs.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Devs & Contributors

**Exit Criteria**
Both Broker's and Source's docs and samples have the same general

[2021-12-16 17:48] #535 closed

[2021-12-17 14:41] #496 closed

[2021-12-21 14:22] gabo1208 commented on #546
I think it makes sense to add another knob in the config for this. And i agree with a safe default

[2021-12-26 01:26] #241 closed

[2022-01-03 14:51] xtreme-sameer-vohra commented on #546
In case this impacts it as well - https://github.com/knative-sandbox/eventing-rabbitmq/issues/518

[2022-01-03 14:53] gabo1208 commented on #546
/assign

[2022-01-03 15:40] gabo1208 commented on #534
/assign

[2022-01-03 15:52] gabo1208 commented on #546
Going through the documentation, the logical cases are:
- If the user wants a durable queue, knative-rabbitmq should set the messages to be durable
- If the user does not want a durable queue, it doesn't matter the message setting because the messages will not persist

Future proofing regarding #518 :
Above the [Temporary Queues title,](https://www.rabbitmq.com/queues.html#temporary-queues) it say

[2022-01-03 21:36] gabo1208 commented on #545
This shouldn't be on the MVP right @benmoss ? Cause with the profiling the conclusion was that is not affecting that much the performance

[2022-01-03 21:36] gabo1208 commented on #537
/assign

[2022-01-04 15:55] gabo1208 commented on #534
One question I have here, should it try to reconnect? Or logging the error is enough?

[2022-01-05 22:03] ikvmw commented on #415
**WARNING** I might be terribly wrong.

If I understand correctly eventing provides some sort of middleware - https://github.com/knative/eventing/blob/main/pkg/broker/ingress/ingress_handler.go that implements common logic and offloads implementation specific things to Handler.sender. It's used by in-memory broker here: https://github.com/knative/eventing/blob/main/cmd/broker/ingress/main.go.

ing

[2022-01-05 22:14] ikvmw commented on #415
I'm feeling brave enough to say metrics are yet to be implemented for ?all? our components. I'm hope it's wrong but I just can't find them :-)

[2022-01-07 02:55] xtreme-sameer-vohra opened #561 "Use Knative Docs Style Guide"
**Problem**
It would be great to use consistent style across the docs -> [Knative Style Guide](https://github.com/knative/docs/blob/main/contribute-to-docs/README.md#style)

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this feature for?
All

**Exit Criteria**
- [ ] Review Broker Docs
- [ ] Review Source Docs
- [ ] Reivew Broker Sample Docs
- [ ] R

[2022-01-07 03:54] xtreme-sameer-vohra opened #562 "Update Source README Params Table"
**Problem**
[Table](https://github.com/knative-sandbox/eventing-rabbitmq/tree/d5df3042373be340cdaff06025eaf656b4f5f7d8/source#creating-and-managing-sources) has descriptions and types in the same column

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this feature for?
Application Developer

**Exit Criteria**
- [ ] Separate description, type & defaul

[2022-01-10 15:08] #546 closed

[2022-01-10 22:48] benmoss opened #563 "Chaos/failure simulation tests"
We should create a suite that tests a deployed topology while creating failure conditions between the different services. We want to test that the topology recovers successfully to a normal working state and that we don't lose any messages.

Some example scenarios:
- If the RabbitMQ cluster becomes unavailable
- If the dispatcher becomes unavailable
- If the ingress becomes unavailable

I don't kn

[2022-01-10 22:59] benmoss opened #564 "Add upgrade tests"
Eventing core has [upgrade tests](https://github.com/knative/eventing/blob/main/test/upgrade/README.md), we should figure out how to set these up for an eventing-rabbitmq cluster.

[2022-01-10 23:01] benmoss opened #565 "Long-running test environment"
It might be worthwhile to give us some operator empathy and production confidence to setup a cluster that we intend to keep around and monitor with some simulated load.

- Develop/configure some workloads that provide "interesting" enough load. Steady continuous load is probably fine to start, but variability could be interesting too!
- Configure some kind of monitoring & alerting. Can we have a n

[2022-01-10 23:02] benmoss commented on #545
yeah I don't think this is as important as I thought, my hypothesis seems to have been wrong

/close

[2022-01-10 23:02] #545 closed

[2022-01-10 23:58] xtreme-sameer-vohra opened #566 "Validate eventing-rabbitmq works with a RMQ Cluster configured with TLS"
**Setup**
- Setup RMQ cluster configured with signed certificate
- Setup eventing-rabbitmq Broker that connects to the RMQ cluster using TLS address and can deliver messages to sink
- Setup eventing-rabbitmq Source that connects to the RMQ cluster using TLS address and can retrieve messages and deliver to sink

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which pe

[2022-01-14 14:33] #334 closed

[2022-01-14 19:28] ikvmw commented on #415
Had a wonderful call today with @benmoss and @gabo1208.

The main questions from me were:

1) How we (if we even are) listen to relevant ConfigMaps updates (logging, tracing, metrics)?
**Context:** according to docs (e.g. here https://knative.dev/docs/eventing/observability/metrics/collecting-metrics/) knative services are supposed to apply changes to ConfigMaps on the fly.
**What we learnt:** the

[2022-01-17 22:22] gabo1208 commented on #537
I'm thinking of implementing the same strategy as the Broker's dispatcher, don't know what you all think @ikvmw @xtreme-sameer-vohra @benmoss. Even when that imply giving an extra (no-required) argument to the source config

[2022-01-18 19:45] #553 closed

[2022-01-18 20:23] ikvmw commented on #424
Addition as per call with @embano1 and @xtreme-sameer-vohra.

Clarify queue lifecycle (see Trigger/Dispatcher section in the [doc](https://docs.google.com/document/d/14YArSzMxqivDu80YeRvqHMYdP_ypk0-XWw5sVtiD2L8/edit))

[2022-01-18 20:30] ikvmw opened #573 "Clearly state supported RabbitMQ (topology) operator and server versions"
**Problem**
Currently it's not clear (or even unstated) what versions of RabbitMQ operators and server we support. This makes usage/upgrades unnecessary confusing.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
System Operator

**Exit Criteria**
We want to have a version matrix that tells which versions of what we support. We want to actually run our tests using th

[2022-01-18 20:54] ikvmw opened #574 "Double check our default settings"
**Problem**
We want to make sure we ship optimal and predictable experience out of the box. Let's not surprise people with promising at least once delivery and retry_count set to 0 by default.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
I believe this concerns everybody.

**Exit Criteria**
Just go thru the code, yamls, look at shipped artifacts, make sure we shi

[2022-01-18 21:04] ikvmw opened #575 "Make sure DLQs are durable"
**Problem**
We want DLQ to be durable, we mean to be use them for troubleshooting too.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Event consumer, maybe Operator too?

**Exit Criteria**
Make sure DLQs are durable.

[2022-01-18 21:13] ikvmw opened #576 "Let's have more domain-specific metrics!"
**Problem**
"Standard" knative metrics are useful but don't give too much insight into the underlying system. RabbitMQ on the other hand can give too much. Let's have our own metrics for knative-managed resources. For example DLQ size, our "normal" queues and so on.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
System Operator/Developer

**Exit Criteria**
More dom

[2022-01-18 22:02] gabo1208 commented on #534
Divided into two tasks:
- [ ] Improve logging ← currently finishing this, I'll update this issue with the progress
- [ ] Handle reconnection tries

[2022-01-18 22:03] gabo1208 commented on #416
I think PR #555 fix this right @xtreme-sameer-vohra?

[2022-01-21 16:30] ChunyiLyu opened #581 "Define schema for rabbitmqsources.sources.knative.dev"
**Problem**

No actual schema is defined for `rabbitmqsources.sources.knative.dev` at the moment. CRD has `x-kubernetes-preserve-unknown-fields` set to true. See: https://github.com/knative-sandbox/eventing-rabbitmq/blob/main/config/source/300-rabbitmqsource.yaml#L41

**Exit Criteria**

After installing `rabbitmqsources.sources.knative.dev` CRD, I can see information about its schema when I run `k

[2022-01-22 02:56] #448 closed

[2022-01-24 16:03] salaboy opened #585 "Following same URL approach than InMemory Broker and Kafka Broker"
**Problem**

The url format for the InMemory and Kafka BRoker follow the pattern of: `http://<broker-URL>/<namespace>/<broker-name>`
I think we should align with this format, even if our brokers are not multi-tenant, as discussed in our weekly sync.
By following the same pattern we will reduce friction from people moving from the InMemory Broker or the Kafka Broker to RabbitMQ

**[Persona:](https:

[2022-01-24 21:56] ikvmw commented on #575
This is what I've found:

For Broker-wide deadLetterSink
0. Define deadLetterSink as shown here: https://knative.dev/docs/eventing/broker/example-mtbroker/
1. If deadLetterSink is defined (see example here) we create the Queue and Binding: https://github.com/knative-sandbox/eventing-rabbitmq/blob/main/pkg/reconciler/broker/broker.go#L292
2. if deadLetterSink is defined we also create Broker-wide D

[2022-01-24 22:09] ikvmw commented on #575
Also regarding persistence of dead-lettered messages. RabbitMQ does some headers patching for them (https://github.com/rabbitmq/rabbitmq-server/blob/388654c5422409ccb7f26bf9e267d9aff4a52ba0/deps/rabbit/src/rabbit_dead_letter.erl#L33) but doesn't touch delivery_mode which is responsible for persistence.
In other words of message is marked as persistent it still will be marked as such when dead-lett

[2022-01-25 01:48] #416 closed

[2022-01-25 12:09] ikvmw commented on #574
**Triggers**

For Trigger own dispatcher the default RetryCount is set to 5 off triger has Delivery section: https://github.com/knative-sandbox/eventing-rabbitmq/blob/dcf9a44dcfd50ed36c21bfee80b69e07ad843101/pkg/reconciler/trigger/resources/dispatcher.go#L97

That Delivery section should look like here:
https://knative.dev/docs/eventing/broker/example-mtbroker/

Same applies to standalone Trigger'

[2022-01-25 12:35] ikvmw commented on #574
https://knative.dev/docs/eventing/event-delivery/

[2022-01-25 12:46] ikvmw commented on #574
OTOH this document https://docs.google.com/document/d/1LjcpCMAeoAg5qgQqksCGadIpSLpRL29ffiSL_4Bx3wQ/edit# says:

[code]
From here one can assume `Broker.delivery` is indeed the default for all Triggers. Which leaves as without the way to set `retries` for delivery dead-lettered events.

[2022-01-25 13:35] ChunyiLyu commented on #581
As first step, I created PR: https://github.com/knative-sandbox/eventing-rabbitmq/pull/586 to 1) remove openapi-gen annotation 2) use the schema tool and generate a schema

That's not all. We have plenty of fields that uses format `_` rather than camel casing which is not to k8s convention (e.g. https://github.com/knative-sandbox/eventing-rabbitmq/blob/main/pkg/apis/sources/v1alpha1/rabbitmq_types

[2022-01-25 17:45] gab-satchi commented on #585
/assign

[2022-01-25 20:57] ikvmw opened #588 "Fix Conformance testing"
**Describe the bug**
As of now I see that conformance test likely not pass on GH and locally inside kind

 **Expected behavior**
Robust conformance tests

 **To Reproduce**
`make test-conformance`

**See also**
https://github.com/knative-sandbox/eventing-rabbitmq/runs/4909441208?check_suite_focus=true#step:6:2798
https://github.com/knative-sandbox/eventing-rabbitmq/runs/4888976730?check_suite_focu

[2022-01-26 13:51] embano1 opened #591 "Clarify if we still need `requeue` setting in the dispatcher"
Do we need to explicitly give the user the option to configure `requeue` if we retry by default in the CE client.

Related: #540

https://github.com/knative-sandbox/eventing-rabbitmq/blob/519852a36f044dec7d79421320b6d56d26d03400/cmd/dispatcher/main.go#L45

[2022-01-26 13:54] xtreme-sameer-vohra commented on #591
Expectation for end users;
- Broker(dispatcher) will retry for # of retries configured in delivery spec
- After retries, will route message to DLX Or drop it if no DLX is configured

[2022-01-26 14:41] xtreme-sameer-vohra opened #592 "Validate & Document Trigger's behavior under non-happy conditions"
**Problem**
Validate and document/reference the default retry behaviour from the Trigger Dispatcher -> Sink and under what circumstances (eg. HTTP codes)

Additionally, document/reference ([DeliverySpec, Requeue](https://github.com/knative-sandbox/eventing-rabbitmq/blob/e4db575945e91966a27894c09927a24014b8fa80/cmd/dispatcher/main.go#L40-L51))  & validate how they impact behavior (eg. redelivery) u

[2022-01-26 14:41] xtreme-sameer-vohra commented on #424
Split retry behaviour https://github.com/knative-sandbox/eventing-rabbitmq/issues/592

[2022-01-26 15:05] ChunyiLyu opened #593 "Status for for rabbitmqsources.sources.knative.dev"
**Problem**

`rabbitmqsources.sources.knative.dev` status field is current empty. We should come up with a reasonable status (and condition) for this CRD. If we think that the status of the adapter deployment is a good enough indicator, we should document that.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**

System Operator and Developer

**Exit Criteria**

[2022-01-27 08:57] embano1 commented on #540
Regarding timeouts: IIUC several components, e.g. `dispatcher` do not explicitly specify an `http.Client` when constructing a `cloudevent` client. For example: https://github.com/knative-sandbox/eventing-rabbitmq/blob/d5df3042373be340cdaff06025eaf656b4f5f7d8/pkg/dispatcher/dispatcher.go#L77

IMHO this leads to using the default `http.Client` from Go `net/http` which does not enforce **any** timeou

[2022-01-28 23:59] xtreme-sameer-vohra commented on #537
@gabo1208 Could you expand on what you mean as the same strategy as the Broker's dispatcher ?

[2022-01-31 14:52] ikvmw commented on #588
What we have found with @gsatchi 1) There is potentially a huge resource leak while running e2e and/or conformance tests via make locally 2) since https://github.com/knative-sandbox/eventing-rabbitmq/pull/567 master doesn't flake but continuously and reliably red. The PR was red itself. Basically our process allowed our team to merge red PRs. I assume that it happened because conformance tests are

[2022-01-31 20:56] xtreme-sameer-vohra commented on #264
Hey @benmoss
Was this addressed as well since https://github.com/knative-sandbox/eventing-rabbitmq/issues/448 was closed ?

[2022-01-31 23:05] benmoss commented on #264
Yep! closing

[2022-01-31 23:05] #264 closed

[2022-02-02 08:18] #507 closed

[2022-02-03 01:23] #438 closed

[2022-02-04 21:57] gab-satchi opened #603 "Fix flakey DeliverySpec test assertion"
**Describe the bug**
There is a flake in one of the conformance test's assertions. The assertion seems to fail where the expected number of events weren't received on the DLQ. Both the trigger DLQ as well as the Broker DLQ are equally susceptible to this flake.

 **Expected behavior**
Test passes

**Actual behavior**
Test occasionally fails with an event missing. An example in the broker DLQ:
[cod

[2022-02-04 22:05] gab-satchi commented on #603
/assign

[2022-02-07 14:52] gabo1208 commented on #603
Do you have the link to the test code?

[2022-02-09 22:07] xtreme-sameer-vohra commented on #504
/remove-lifecycle stale

[2022-02-14 15:03] xtreme-sameer-vohra commented on #576
@ikvmw  Lets define all the domain specific metrics we'd want to capture prior to tackling this.

[2022-02-14 15:08] gab-satchi commented on #574
From the control-plane [spec](https://github.com/knative/specs/blob/main/specs/eventing/control-plane.md)

`
If delivery of the dead-letter event fails with a retryable error, the delivery to the deadLetterSink SHOULD be retried up to retry times, following the backoffPolicy and backoffDelay parameters if specified. Alternatively, implementations MAY use an equivalent internal mechanism for delive

[2022-02-14 15:08] xtreme-sameer-vohra commented on #574
@ikvmw could you file a separate issue for `Looks like for broker-level DLQ Dispatcher we don't set RetryCount.`, we'd want to tackle that based on your learnings.

[2022-02-14 15:11] xtreme-sameer-vohra commented on #574
@ikvmw are there remaining areas we need to double check default settings to complete this exploration issue ?

[2022-02-14 18:22] xtreme-sameer-vohra opened #607 "Add support for "Prefer: reply" to Broker"
Spec - https://github.com/knative/specs/blob/main/specs/eventing/data-plane.md#derived-reply-events

[2022-02-17 10:54] ChunyiLyu commented on #581
**Investigation on using controller-gen**

I tried using controller to generate rabbitmqsource crd. It does not work because of `spec.sink` which is type `*duckv1.Destination` and `status` which is `duckv1.SourceStatus`. Reason being both of them have `*apis.URL` as one of their fields. `apis.URL` is a knative type alias on `url.URL`. `url.URL` is a struct with no JSON tag specified, so controller

[2022-02-17 13:58] gab-satchi commented on #591
/assign

[2022-02-17 14:17] ChunyiLyu commented on #591
Had a team discussion about whether we could ensure message ordering with the current implementation. In short, there is no way we can guarantee msg process ordering when 1) use process msgs in prefetch buffer in parallel 2) we requeue unack msgs instead of using DLE.

All messages in a prefetch (prefetch count is currently configurable) are ordered, and messages in prefetch will arrive in the sam

[2022-02-17 15:56] gabo1208 opened #609 "Discussion on the RabbitMQ Broker and Source"
Here is the space to discuss and set our goals for the MVP regarding the RabbitMQ `Broker` and `Source`. Related to #408

Goals:
Broker and Source:
- Should support FIFO ordering and have a clear case scenario where this works (Yes, the default scenario will be this for the MVP)
- Should support a High throughput mode (Yes)
    - Have all the details needed for this case to work
- We need metrics

[2022-02-17 22:36] gab-satchi opened #612 "Explore performance impact of setting prefetch count on RabbitMQ channels"
When using the annotation `rabbitmq.eventing.knative.dev/prefetchCount` on a Trigger, a couple of things are done:
1) prefetchCount of `n` is set on the channel
1) `n` number of workers are created that would consume from the queue and dispatch to the sink

RabbitMQ recommendations for setting prefetch count take a few things into account:
- network roundtrip time and reliability
- number of consu

[2022-02-18 16:17] ChunyiLyu opened #615 "Better naming for parallel worker count"
**Problem**

Better naming for RabbitmqChannelConfig.PrefetchCount.

[Consumer Prefetch](https://www.rabbitmq.com/consumer-prefetch.html) is a known concept in RabbitMQ itself. We need a better name for this configuration so users won't conflate it with RabbitMQ prefetch.

Related issue: https://github.com/knative-sandbox/eventing-rabbitmq/issues/609

[2022-02-22 16:07] gabo1208 commented on #537
![image](https://user-images.githubusercontent.com/4516177/155171741-35741db3-34a3-4017-90f4-e313d2bba7e5.png)
Here is the same case with no Requeue, using CloudEvents HTTP retries + backoffPolicies

[2022-02-24 16:43] #591 closed

[2022-02-28 14:52] #585 closed, assigned to gab-satchi

[2022-03-03 01:04] evankanderson commented on #609
I'm going to write down my understanding of the "laws of physics" as it relates to FIFO ordering, and explain how that plays out in both the `Broker` spec and Kafka implementation, based on my understanding. I'm happy to be corrected if any of this is wrong.

## FIFO queueing ([Head of Line Blocking](https://en.wikipedia.org/wiki/Head-of-line_blocking))

For an event consumer, FIFO ordering on eve

[2022-03-03 08:44] embano1 commented on #615
Full ack! How about something `concurrency` or `parallelism`?

[2022-03-03 08:58] embano1 commented on #609
No objections on the (f)laws of FIFO. Yes, this can only be guaranteed in the two following cases:

- Single-threaded producer/consumer with max one message in-flight
- The above, but partitioned by key (for higher throughput)

The reason we did not change this behavior in the current implementation (i.e. setting prefetch >1) is that the existing behavior was in fact FIFO. This led to a number of

[2022-03-03 12:05] ChunyiLyu opened #623 "rabbitmq broker should publish a success event after successful reconcile"
**Describe the bug**

Maybe this is not a bug. In local testing, @salaboy  and I found that rabbitmq broker does not publish successful reconcile event. It only publishes `InternalError` event even after successful reconcile. This was a bit confusing.

[code]

 **Expected behavior**

Rabbitmq broker publishes successful events.

[2022-03-03 17:17] xtreme-sameer-vohra opened #624 "New Trigger Filters"
**Problem**
Add support for [New Trigger Filters](https://knative.dev/docs/eventing/experimental-features/new-trigger-filters/)

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this feature for?
[Event Consumer Developer](https://github.com/knative/eventing/blob/main/docs/personas.md#event-consumer-developer)

**Exit Criteria**
Add support for `filte

[2022-03-04 01:29] #396 closed

[2022-03-04 14:37] gabo1208 commented on #609
Exactly as @embano1 said @evankanderson, just because is a fairly common use case, our default in the RabbitMQ Eventing implementations will be the FIFO behavior (at least for the MVP) and we'll support high thought put "modes" or configs :). But nice to know and pinpoint the pain points about it :).

I'll be updating this with the current status of the discussion of some of the points, any commen

[2022-03-04 21:18] evankanderson commented on #609
Oops, I looked at the spec partway through but forgot to go back through the earlier part of the message.  That should read:

My preference would be to default to high throughput, and expose something like a `orderedBy` list property, which would list a set of CE keys where common values should be part of an ordered stream (ala Kafka's partition keys). We'd need a way to say "complete ordering" --

[2022-03-08 11:52] embano1 commented on #609
I think that is a good proposal which we can gradually add without breaking backwards-compatibility (delivery semantics) until we decide to not default to FIFO (one in flight) anymore.

Question: do we want this only for Rabbit Streams (natural fit) or with our current implementation (handle in dispatcher/queue)?

[2022-03-08 13:52] xtreme-sameer-vohra commented on #537
Hey @gabo1208 is this the same as https://github.com/knative-sandbox/eventing-rabbitmq/issues/504 ?

[2022-03-08 15:08] gabo1208 commented on #537
Yep it is @xtreme-sameer-vohra ! I missed that one

[2022-03-08 15:13] xtreme-sameer-vohra opened #627 "Remove Support for managed broker"
Ref - https://github.com/rabbitmq/messaging-topology-operator/issues/135

Acceptance
- Remove support for managed RMQ broker
- Document removal

Context - https://github.com/knative-sandbox/eventing-rabbitmq/issues/411#issue-995206709 discussion with community to announcing removal of support.

[2022-03-10 15:09] gab-satchi opened #637 "Fix flake in e2e testing"
**Describe the bug**
The e2e test frequently fails on the same spec:
[code]

This test uses a producer that's maintained in this repo that may be the source of the issue. The producer is rather simple where it simply sleeps for 10 seconds, wakes up and sends out the events. If the eventing topology (ingress pod) takes longer than 10 seconds to setup, some or all of the events get lost. This result

[2022-03-10 15:22] gab-satchi commented on #637
cc: @salaboy

[2022-03-12 16:02] gabo1208 commented on #528
Related to  #6

[2022-03-13 20:11] xtreme-sameer-vohra commented on #526
Hey @andersonsoares-tomtom
Thanks for reporting the issue. Are you able to reproduce the issue using the [RabbitMQ operator based Broker](https://github.com/knative-sandbox/eventing-rabbitmq/blob/main/broker/README.md#rabbitmq-operator-based-broker) ?

After a discussion in the community, we are considering [removing support for the Standalone Broker](https://github.com/knative-sandbox/eventing-ra

[2022-03-15 13:33] xtreme-sameer-vohra commented on #528
Validate if it is a duplicate and close it as well

[2022-03-15 13:37] xtreme-sameer-vohra commented on #588
Closing this as we're going to explore individual failures separately

[2022-03-15 13:37] #588 closed

[2022-03-15 13:49] xtreme-sameer-vohra opened #645 "What are the timeouts (read/write on the HTTP server on the ingress) & calls to RMQ"
This covers
- [ ]  Broker Ingress
- [x]  Trigger Dispatcher #671

[2022-03-15 15:34] ChunyiLyu opened #646 "Create one policy for triggers without dead letter configurations"
**Current behavior**

When users create a trigger, if the trigger has a dead letter configured, we create a policy to configure the trigger queue with the provided dead letter exchange; when the trigger does not have a dead letter configured, we create a policy to configure the trigger queue with the broker dead letter exchange, so either way we are creating one policy per trigger.

Rabbit policie

[2022-03-15 15:38] ChunyiLyu commented on #646
@gab-satchi and I was discussing how the broker trigger creates policies with regards to the [dead letter e2e test flake](https://github.com/knative-sandbox/eventing-rabbitmq/issues/637).

Thoughts about this? @gabo1208 @ikvmw

[2022-03-16 01:07] gabo1208 opened #647 "Add RabbitMQ Channels and Connections reconnection for all the CRDs"
**Problem**
When there is a problem with a RabbitMQ's Channel or Connection that make any of them close, the CRD then is unable to communicate with the RabbitMQ's resources.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
All

**Exit Criteria**

- [x] Broker Ingress reconnects when its RabbitMQ Channel or Connection is closed (#534) PR #648
- [ ] Broker Dispatcher r

[2022-03-16 01:29] #511 closed

[2022-03-17 01:29] #513 closed

[2022-03-17 13:30] #637 closed

[2022-03-17 16:22] gabo1208 commented on #615
/assign

[2022-03-17 17:18] gab-satchi commented on #645
/assign

[2022-03-21 11:16] ChunyiLyu commented on #646
@gabo1208 For triggers with dead letter queue defined, it will depends on whether we allow dead letter queue to be updated once the trigger is created. Queue arguments cannot be updated after the queue is created. If we want to allow dead letter queue to be updated, we will need to configure these trigger queues via policies (same as what we are currently doing). If  update is not something we'd l

[2022-03-21 14:04] xtreme-sameer-vohra opened #658 "RMQ Queue Type for Triggers"
**Problem**
From #518 by Gerhard L

The default is classic durable queue with message persistence.

I was mentioning that a [Quorum Queue](https://rabbitmq.com/quorum-queues.html) is a likely better default choice. Even if a 3-node cluster is used, all non-replicated queues will be unavailable for the entire duration of their node unavailability. This means that just a subset of queues will be una

[2022-03-21 14:10] xtreme-sameer-vohra opened #659 "Should `prefetchCount` part of `rabbitmq.eventing.knative.dev/prefetchCount` be changed to another name ?"
**Problem**
`rabbitmq.eventing.knative.dev/prefetchCount` could be confusing as it conflates `prefetchCount` in the RMQ Bounded Context - https://www.rabbitmq.com/consumer-prefetch.html with `prefetchCount` in the Eventing Rabbitmq context.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this feature for?
- Event Consumer
- Event producer

**Exit Cr

[2022-03-24 15:44] gabo1208 commented on #513
/remove-lifecycle stale

[2022-03-28 19:36] #537 closed

[2022-03-29 21:16] #424 closed

[2022-03-30 14:11] gabo1208 commented on #504
Closed by #614

[2022-03-30 14:11] #504 closed

[2022-03-30 16:25] gab-satchi commented on #603
Upon further investigation, this issue happens when a queue on RabbitMQ doesn't get the appropriate Policy applied to it. I've ran the test until the failure happens and kept the resources around to investigate. When doing a rabbitmqctl report, I can see the following:

we have the correct policies created:
[code]

But one of the policy doesn't get applied to the correct queue:

[code]

[2022-03-30 19:32] #6 closed

[2022-03-30 19:32] #528 closed

[2022-03-31 10:06] salaboy opened #671 "Trigger's sink takes longer than X to respond (are there any timeouts on the dispatcher acting as a client? Lets ensure there is a defined timeout rather than no timeout - Reference)"
The current behaviour is using the ceClient to send a POST HTTP request, and using net/http Client which doesn't define any timeout to start with.

Some reference on how this can be set up: https://blog.cloudflare.com/the-complete-guide-to-golang-net-http-timeouts/
Old references: https://medium.com/@nate510/don-t-use-go-s-default-http-client-4804cb19f779

In my opinion, we should have a configura

[2022-03-31 14:22] salaboy opened #674 "Refactor docs into `docs` directory"
**Problem**
The current documentation is spread into different MD files including broker/README.md.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this feature for?
End User, Operator Documentation

**Exit Criteria**
A documentation page is easy to find and complete.

**Time Estimate (optional):**
2 days

**Additional context (optional)**
This is r

[2022-03-31 17:25] gabo1208 commented on #413
/assign

[2022-03-31 17:29] gabo1208 opened #677 "Performance tests Scenarios for the Source and multi consumer scenarios"
**Problem**
We don't cover every some obvious performance tests scenarios in the current performance tests setup, in particular multi consumer for the Trigger Broker and RabbitMQ Source scenarios.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Developers

**Exit Criteria**
Have clear performance reports both for the RabbitMQ Source and the multi consumer scenario f

[2022-04-01 09:28] #615 closed

[2022-04-04 18:47] gab-satchi commented on #671
/assign

[2022-04-05 08:11] embano1 commented on #659
I guess this can be closed since https://github.com/knative-sandbox/eventing-rabbitmq/pull/676 landed

[2022-04-06 14:10] #674 closed

[2022-04-07 13:17] #411 closed

[2022-04-08 01:30] #544 closed

[2022-04-08 13:08] embano1 opened #703 "Add `resource.[requests|limits]` to reconciled objects"
**Problem**
Skimming through the `reconciler` codebase/folders, it seems that none of the deployments/pods created have any `resources` specified. This can lead to performance and stability issues, especially not meeting the documented scaling behavior (#408).

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Operators and users.

**Exit Criteria**
Documented scaling

[2022-04-11 14:24] gab-satchi commented on #627
/assign

[2022-04-11 14:35] gab-satchi commented on #603
Another thing to note: I observed RabbitMQ in this state hours after running the test, which prompted the question:
- Are policies periodically checked and applied as necessary or only applied during certain events like CRUD operations on Queues, Exchanges etc.

We create the queue and policy at around the same time and the answer to the above question can rule out some race condition scenarios. c

[2022-04-12 09:30] #627 closed

[2022-04-12 15:08] #534 closed

[2022-04-12 15:21] kjnilsson commented on #658
You may want to revisit that conclusion with 3.10. QQs aren't "light-weight" but 10k queues could well be doable.

[2022-04-13 00:23] xtreme-sameer-vohra commented on #526
Hey @andersonsoares-tomtom going to close this issue since its been so long.
Please feel free to create an issue if you're still experiencing problems. In case you don't hear from someone on github, you can also reach us on [eventing-rabbitmq on Slack](https://knative.slack.com/archives/C02N2AK2K1P)

[2022-04-13 00:23] #526 closed

[2022-04-18 14:52] gab-satchi commented on #645
Moving this out of MVP as ingress timeouts aren't currently part of the eventing spec. Will work on driving the change through core eventing before implementing here.

[2022-04-18 18:03] gab-satchi opened #719 "Dead letter messaging should use the retry parameters set in either Trigger.DeliverySpec or Broker.DeliverySpec"
**Describe the bug**
From the spec:

`
If delivery of the dead-letter event fails with a retryable error, the delivery to the deadLetterSink SHOULD be retried up to retry times, following the backoffPolicy and backoffDelay parameters if specified. Alternatively, implementations MAY use an equivalent internal mechanism for delivery (for example, if the ref form of deadLetterSink points to a compati

[2022-04-19 17:40] gab-satchi commented on #719
/assign

[2022-04-20 19:18] gab-satchi commented on #592
Some answers to the open Q's since a lot of the answers are RabbitMQ related and not controlled by this repo.

1. if no delivery spec is configured, does the kn cloud events client retry 3 times automatically ?
No, there currently isn't a default being used when delivery spec isn't defined. If delivery spec is defined, but retry isn't, we default to [5](https://github.com/knative-sandbox/eventing-

[2022-04-21 01:31] #408 closed

[2022-04-21 14:33] #671 closed

[2022-04-21 14:41] #592 closed

[2022-04-21 14:43] gab-satchi commented on #719
done in #723

/close

[2022-04-21 14:43] #719 closed

[2022-04-21 19:27] gab-satchi commented on #581
Thanks for the work on this. Closing as the CRD is better defined/documented now. re-open if necessary.

[2022-04-21 19:27] #581 closed

[2022-04-25 19:03] gabo1208 commented on #516
Closing this one since the discussion is already settled :)

[2022-04-25 19:03] #516 closed

[2022-04-27 14:02] ChunyiLyu opened #732 "Make dead letter exchanges and queues easier distinguishable from other resources"
**Problem**
Users cannot distinguish dead letter exchange and queues from exchanges and queues created for trigger and broker via resource names and labels.

[Format for a trigger dlq is `t.Namespace.Name.dlq.TriggerUID`.](https://github.com/knative-sandbox/eventing-rabbitmq/blob/main/pkg/rabbitmqnaming/naming.go#L65-L71) We use a helper function to process rabbitmq object cr names, which always t

[2022-04-27 14:50] #413 closed

[2022-04-28 14:53] #646 closed

[2022-05-02 13:48] gab-satchi commented on #703
cc @gabo1208 if we can get the resource requirements for when the performance tests were run, that could be a good baseline for the limit

[2022-05-02 13:49] xtreme-sameer-vohra opened #735 "Validate the behavior of eventing-rabbitmq with KEDA"
- Document the behavior in the repo

Ref - https://github.com/knative-sandbox/eventing-autoscaler-keda

[2022-05-02 19:24] gab-satchi commented on #593
closing as we have status with conditions set now.

/close

[2022-05-02 19:24] #593 closed

[2022-05-03 16:56] gabo1208 commented on #703
Sure but you mean the ones defined on the files, totals of the cluster or anything else?

[2022-05-03 17:18] gab-satchi commented on #703
Just for the ingress/dispatcher pods. The cluster requirements can be customized by users already but we'd need sane values for the ingress and dispatcher pods

[2022-05-03 20:29] gab-satchi commented on #735
/assign

[2022-05-03 21:29] #540 closed

[2022-05-04 01:46] gabo1208 opened #740 "Use the same CloudEvent Spec Protocol in the Broker than in the Source"
**Problem**
Right now the RabbitMQ's Broker and Source handle CloudEvents differently, generating inconsistencies and more code to maintain

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Developers

**Exit Criteria**
The CloudSpec protocol binding is used in the Broker and in the Source and covers all the required use cases

[2022-05-04 13:38] #519 closed

[2022-05-05 08:01] salaboy commented on #415
@ikvmw I think we have made huge progress here.. so we just need to update the docs saying that our metrics are covering the metrics described in the spec, which I think we are with our current implementation

[2022-05-05 08:03] salaboy commented on #573
@ikvmw after the team discussions with @ChunyiLyu I think we now know which is the operator we will promote?
Also after @gab-satchi removed the standalone code.. I think this is way much clear now.. is it just a matter of documenting this with a single line in the docs?

[2022-05-05 08:04] salaboy commented on #564
@gab-satchi I am ok with leaving this for post MVP, but since you have been looking at the e2e tests and conformance.. It feels like we should re evaluate this one.

[2022-05-05 08:05] salaboy commented on #566
@ikvmw Is there something that we need to be aware of on this topic to connect to RabbitMQ with TLS? I believe that this can be done after MVP, but it will be great to know what exactly we should be doing here.. or if we expect to find issues.

[2022-05-05 20:20] gab-satchi commented on #735
One of the required fixes is in #744

While testing, I discovered that the deployment would scale up and create new pods only to be quickly scaled back down to 1 replica. This was due to deployment spec being updated more frequently than needed.

[2022-05-06 17:07] gab-satchi commented on #735
Queue name fix: [#287](https://github.com/knative-sandbox/eventing-autoscaler-keda/pull/287)

[2022-05-06 18:46] #677 closed

[2022-05-08 01:34] #562 closed

[2022-05-09 13:59] gab-satchi commented on #658
/assign

[2022-05-09 14:02] salaboy opened #746 "Are you using the RabbitMQ Broker?"
If you are using Knative Eventing RabbitMQ Broker, we would love to know!

# Why?

Tracking usage in OSS is hard, if you leave a comment on this issue we can better understand who our users are and deliver a better experience for YOU!

# How can I help?

We'd like to give your organization the opportunity to collaborate more closely with contributors (if you want to)
We want to help promote your o

[2022-05-09 15:06] gabo1208 opened #748 "Broker Delivery Backoff policy is not being correctly parsed in the Dispatcher and the Receive adapter"
**Describe the bug**
The Broker's and Trigger's dispatcher, and the Source's Receive Adapter are getting into a CrashloopBackoff because is not being able to parse the Spec.Delivery.BackoffDelay duration value:

`"level":"fatal","ts":1652108562.8887987,"logger":"fallback","caller":"dispatcher/main.go:62","msg":"Failed to process env var: envconfig.Process: assigning BACKOFF_DELAY to BackoffDelay:

[2022-05-09 15:09] gabo1208 opened #749 "Automate Performance Results generation"
**Problem**
Generating performance tests results takes time, and now that we have them we need to maintain and have them as an anchor point on where we are in performance terms, so we need to generate it at least once per release. That's why generating them by hand is not a suitable option, lets automate them!

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
develope

[2022-05-09 15:10] gabo1208 commented on #748
/assign

[2022-05-09 15:10] gabo1208 commented on #749
/assign

[2022-05-09 18:48] gabo1208 commented on #703
/assign

[2022-05-10 12:03] #748 closed

[2022-05-10 13:11] gab-satchi opened #752 "Add smoke test for KEDA autoscaler"
Once the changes [here](https://github.com/knative-sandbox/eventing-autoscaler-keda/pull/287) are released, there should be an e2e test that sets up KEDA autoscaler.

The test can be a simple smoke test where it asserts the `ScaledObject` resource goes `Ready`. A more thorough test that checks dispatcher pods are scaled up can possibly be added to the `eventing-autoscaler-keda` repo.

[2022-05-10 13:12] gab-satchi commented on #735
Autoscaler capabilities have been verified/fixed. Created #752 to add a test.

/close

[2022-05-11 01:32] #565 closed

[2022-05-13 12:48] gab-satchi opened #758 "Update documentation for queue type change"
**Problem**
With the default queue type changing, documentation needs to be updated.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this feature for?
System Operator

**Exit Criteria**
- [] Update instructions with minimum version of RabbitMQ (3.8.0) required
- [] Upgrade instructions will need to highlight the incoming disruptive change with queue

[2022-05-13 12:54] gab-satchi opened #759 "Validate performance impact with quorum queue"
**Problem**
With default queue type changing to quorum queue, we need to run the [performance](https://github.com/knative-sandbox/eventing-rabbitmq/tree/main/test/performance) test suite to confirm performance isn't too negatively impacted by the change

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this feature for?
System Operator

**Exit Criteri

[2022-05-13 12:55] gab-satchi opened #760 "Make queue type configurable for Broker/Trigger and default to quorum queues wherever possible"
**Problem**
Quorum queues offer fault tolerance and data safety in multi node setups while offering similar performance to classic queues in a single node setup. So it makes sense to switch the default queue type used by Triggers to quorum.

To maintain backwards compatibility, any existing topologies shouldn't break if the user upgrades to a new version that uses quorum queues by default. Since b

[2022-05-13 12:57] gab-satchi commented on #658
Closing in favor of new issue with tasks

/close

[2022-05-13 12:57] #658 closed

[2022-05-13 14:32] gabo1208 commented on #759
This one I was planning to so, so I'll take it :)

[2022-05-13 18:52] gab-satchi opened #763 "RMQ Source docs out of date"
The installation and usage docs [here](https://github.com/knative-sandbox/eventing-rabbitmq/tree/main/docs/source) is out-of-date. It has no references to `connectionSecret` which is a required field if RMQ resources aren't predeclared (predeclared: false).

This issue is to add references to connectionSecret as well as verify the rest of the doc.

[2022-05-13 19:22] andrewwebber commented on #760
I was performing some chaos engineering exercises after having reliability issues with the broker.

Of course could be a configuration missing (replicated queues?) on the cluster side however 1.4.0 does not seem to recover if a 3 node rabbitmq cluster is being rescheduled (maintainence or autoscaling + PodDistruptionBudget).

Dispatcher seem to crash and the broker-ingress never reconnects. The si

[2022-05-13 19:42] gab-satchi commented on #760
Thanks @andrewwebber. Having replicated queues would certainly make the system more resilient but connection issues can still happen and we want to improve on that front.

We tried to fix this (at least broker-ingress) for 1.4.0 in #534. Do you have a script for the chaos testing you were conducting or was it manually done? I'll move your comment into a new issue so we can try to replicate it ours

[2022-05-13 19:42] gab-satchi opened #764 "[bug] Crashing ingress and dispatcher pods when connections are disrupted in a 3 node cluster"
I was performing some chaos engineering exercises after having reliability issues with the broker.

Of course could be a configuration missing (replicated queues?) on the cluster side however 1.4.0 does not seem to recover if a 3 node rabbitmq cluster is being rescheduled (maintainence or autoscaling + PodDistruptionBudget).

Dispatcher seem to crash and the broker-ingress never reconnects. The si

[2022-05-13 19:43] gab-satchi commented on #764
/kind bug

[2022-05-13 19:47] andrewwebber commented on #760
Thanks @gab-satchi I will use your suggested ticket to continue the conversation

[2022-05-13 20:38] gabo1208 commented on #764
Kk! 🤔 Definitely a scenario we haven't tried so I'll be taking a look next week, thanks @andrewwebber :)!

[2022-05-13 20:52] gab-satchi opened #765 "Redesigning RabbitMQSource API"
**Problem**
There are a few things that stand out with the current RabbitMQSource API:
- When using RabbitMQ Cluster, there's no easy way to simply reference it in RabbitMQSource and have it connect. The user has to edit their `default-user` secret, add the uri and reference the secret in the RabbitMQSource.
- Some options like Exchange type don't work
- There are options exposed through the vario

[2022-05-16 03:42] gabo1208 commented on #763
/assign

[2022-05-16 14:16] gabo1208 commented on #765
Agree with all the observations, I'm just not clear where the connection secret went :p

[2022-05-16 14:45] ChunyiLyu commented on #765
@gab-satchi Looks good! Love to see the API getting simplified. The example you listed at the end is for non-predeclared, maybe it's also useful to include a predeclared "true" example manifest?

Regarding how the rabbitmqsource controller and adaptor connect to the RabbitMQ server. I like the idea of using [RabbitmqClusterReference](https://github.com/rabbitmq/messaging-topology-operator/blob/968

[2022-05-17 15:15] gabo1208 commented on #759
I'll update the perf results after the change, or maybe @gab-satchi can do that if the script is already merged.

Performance tradeoffs between RabbitMQ's Classic Queues and Quorum Queues

Here the indicators will be 2 things:
The total cluster memory used and the msg publish overall latency, sending 1000msgs/s with a parallelism of 1000

Queue Type | Latency 1 node | Memory 1 node | Latency 3 nod

[2022-05-17 19:27] #749 closed

[2022-05-17 20:07] gab-satchi commented on #765
Thanks @ChunyiLyu, updated with a predeclared setup.

We'll also be adding the same validations around RabbitmqClusterReference as the topology-operator

[2022-05-18 20:55] gabo1208 commented on #703
For setting the limits current limits in the Dispatcher, Adapter:
`Resources: corev1.ResourceRequirements{
			Requests: corev1.ResourceList{
				corev1.ResourceCPU:    resource.MustParse("300m"),
				corev1.ResourceMemory: resource.MustParse("64Mi")},
			Limits: corev1.ResourceList{
				corev1.ResourceCPU:    resource.MustParse("4000m"),
				corev1.ResourceMemory: resource.MustParse("600Mi")},},`

[2022-05-18 21:44] #703 closed

[2022-05-19 21:02] #763 closed

[2022-05-23 11:06] embano1 opened #781 "Links to samples broken"
E.g. https://github.com/knative-sandbox/eventing-rabbitmq/blob/main/docs/samples/broker-trigger

[2022-05-23 12:44] #781 closed

[2022-05-23 13:48] xtreme-sameer-vohra opened #783 "Update source documentation to ensure its clear it can be used without the RMQ Cluster Operator"
**Describe the bug**
The documentation for a [RMQ Source](https://github.com/knative-sandbox/eventing-rabbitmq/blob/main/docs/source/README.md) makes it seem like it only works with the RMQ Cluster Operator.
Update the instructions to be clearer.

Also it has a broken link to [Broker's prerequisites ](https://github.com/knative-sandbox/eventing-rabbitmq/blob/main/docs/source/broker.md#prerequisite

[2022-05-23 20:40] gabo1208 commented on #765
/assign

[2022-05-23 20:40] gabo1208 commented on #783
/assign

[2022-05-24 19:46] gab-satchi commented on #765
@gabo1208 a couple of changes since you self-assigned, I updated the proposed spec a bit to introduce `rmqResources` and `delivery`. We also need to fill out the TODO task list in here which may lead to new issues since this is a fairly large change

[2022-05-25 14:22] #764 closed

[2022-05-25 19:53] gab-satchi opened #789 "Add a new resource to configure Broker settings"
**Problem**
Currently, we support a single `Kind` for `Broker.Spec.Config` and that is the `RabbitMQCluster`. We used to also support a `Secret` for RMQ clusters created by means other than the cluster-operator but that functionality has since been deprecated and removed. A big drawback of using a RabbitMQCluster as the configuration resource is that it's not owned by this project. The spec cannot

[2022-05-26 01:32] #575 closed

[2022-05-28 17:04] #783 closed

[2022-05-31 12:52] ikvmw opened #792 "Fix DeliverySpec flake"
**Describe the bug**
From time to time we see flakes like this: https://github.com/knative-sandbox/eventing-rabbitmq/runs/6584787394?check_suite_focus=true#step:7:69846

 **Expected behavior**
Should be always green

 **To Reproduce**
[Steps to reproduce the behavior.](https://github.com/gab-satchi/eventing-rabbitmq/blob/observe-flake/run-conformance.sh)

 **Knative release version**

 **Additiona

[2022-05-31 12:58] ikvmw commented on #792
https://github.com/rabbitmq/rabbitmq-server/issues/4931

[2022-05-31 13:00] ikvmw commented on #792
[report.txt generated by @gab-satchi  running rabbitmqctl](https://github.com/knative-sandbox/eventing-rabbitmq/files/8805309/report.txt)

[2022-05-31 17:05] gabo1208 opened #794 "Support simple error codes as retry responses"
**Problem**
When an error code is returned to the Broker, for example using golang `http.Error(...)` the broker logs a warning and does not retry sending the message. For new users that just want to test its own functions against the Broker we could be a little more friendlier and let the Broker handle both cases (a valid http error or a valid cloud event with the response code)

**[Persona:](http

[2022-06-02 00:33] gabo1208 commented on #794
I'm currently investigating as a side project, but yes it seems off that a non empty body is giving error here

[2022-06-03 16:23] embano1 commented on #794
See for an issue which needs to be resolved before handling the proper `"failed to convert response into event: unknown Message encoding` error.
https://github.com/cloudevents/sdk-go/issues/773

[2022-06-07 17:16] gabo1208 commented on #520
Here are the image links:
- https://drive.google.com/file/d/13nnL9AHMinZMYjX_NhJF-CTOb574B3VL/view?usp=sharing
- https://drive.google.com/file/d/1yF6knLFP2iBLV1HMyxBWj7sJ_vIxT8G3/view?usp=sharing

[2022-06-08 13:56] gabo1208 commented on #765
Gab Some changes that I think could be a little differente (I'll update the issue if this get pass):
- Vhost is now not needed, we have the same behavior as the broker when we manage all of this with the cluster reference and connection secret
- Im plannning to leave the `exchangeConfig` and `channelConfig` as separate config blocks in the yaml, instead of using the `rmqResources` cause its easier

[2022-06-08 15:13] gab-satchi commented on #765
1) RabbitmqClusterReference will give us the cluster URL but I'd think vhost would still be needed if resources are grouped under a vhost
1) Since we're removing the extra options now (with good reason), I don't know if we want to anticipate reintroducing them. We'll be having 3 structs with single fields in them. I think in the future if more configurations were getting introduced and the `rmqRes

[2022-06-08 15:45] gabo1208 commented on #765
1. I'm testing the VHost removal now so I'll update here with the results
2. Kk fair enough, but I'll propose that PR #800 goes through and then I'll send a separate PR with the restructuring of the delivery and rmq resources params

[2022-06-13 14:50] lenalebt opened #813 "Eventing-RabbitMQ sets high CPU requests for dispatchers and is not configurable"
Hi folks,
was unsure whether to classify this as bug or feature requests. Sits somewhere in the middle imho...

**Describe the bug**
I just updated to eventing-rabbitMQ 1.5 and needed to downgrade again to 1.4 because suddenly the dispatcher instances request 300mCPU, which is way too much for our dev cluster (and prod as well).

 **Expected behavior**
CPU requests are configurable.

 **To Reprodu

[2022-06-13 15:32] gabo1208 commented on #813
Hey @lenalebt ! Thanks for reaching out!

Very clear report, thanks for that. This is a use case we definitely missed while approximating resource requests so for the 1.5 release we will issue a patch (I think the job that creates the patch releases runs tomorrow, so tomorrow the v1.5.1 will be ready to go).

Regarding exposing this values to the user, this could need a little bit more discussion,

[2022-06-13 20:10] lenalebt commented on #813
Thanks for the update and quick response :smile: !

I'll give a bit of context around our system why I think it makes sense to allow users to set the values somehow. I can repost it to another issue later on if needed.

We're having a few `Trigger` definitions per deployed application, but for some the events only occur rarely (say, a few events/minute). For others, they occur often (say, a few 10

[2022-06-14 15:17] #813 closed

[2022-06-14 15:26] gabo1208 commented on #813
We still don't support the new trigger filters, we are planning to get to the MVP next release and start implementing more advanced features like that afterwards.

But we do support simple filters, that may help also, an example of this is located here:
[Multi consumer Broker-Trigger perf test](https://github.com/knative-sandbox/eventing-rabbitmq/blob/main/test/performance/broker-setup/400-broker-

[2022-06-14 17:05] gabo1208 opened #817 "Support RabbitMQ Vhost config on the Broker and Trigger"
**Problem**
Right now just the Source is able to properly use RabbitMQ Vhost to allocate or use resources allocated in a RabbitMQ Cluster, the Broker and Trigger should add this capability to

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Users

**Exit Criteria**
- [ ] Broker has a Vhost configuration option
- [ ] Trigger has a Vhost configuration option

[2022-06-14 17:07] gabo1208 opened #818 "RabbitMQ Port not configurable"
**Problem**
Right now we don't have a way for a users to set a different port for RabbitMQ than the default 5672.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Users

**Exit Criteria**
- [x] Add a RabbitMQ port config option in the Broker
- [x] Add a RabbitMQ port config option in the Trigger
- [x] Add a RabbitMQ port config option in the Source

[2022-06-14 17:08] gabo1208 commented on #813
And yep @lenalebt if you can fill a feature request with this =)

[2022-06-14 17:17] gabo1208 opened #819 "Support RabbitMQ's ConnectionSecret"
**Problem**
Right now we don't correctly support the RabbitMQ's ClusterReference ConnectionSecret option

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Users

**Exit Criteria**
- [ ] Support ClusterReference ConnectionSecret option on the Broker
- [ ] Support ClusterReference ConnectionSecret option on the Trigger
- [ x ] Support ClusterReference ConnectionSecret o

[2022-06-14 18:57] #792 closed

[2022-06-14 19:17] embano1 commented on #794
Yes and no :) The retry issue is fixed, i.e. even on such non-CE returns the SDK retries as configured. However, I have to investigate whether the error handling can be better. For example, should we be able to log the error response instead of such a generic error message? Obviously we have to be careful to not dump MBs to stderr.

IMHO we should also log the HTTP status (error) code unless we al

[2022-06-14 20:50] evankanderson commented on #609
/remove-lifecycle stale

[2022-06-15 01:31] #576 closed

[2022-06-15 01:31] #574 closed

[2022-06-15 14:10] #603 closed

[2022-06-16 20:12] gabo1208 commented on #765
I think this is done cc @gab-satchi

[2022-06-17 06:08] lenalebt commented on #813
Hey!

The simple filters don't really help as they create a dispatcher pod per Trigger. I have about 10 events for each of my deployments, each with a low event volume, making it 10 Triggers currently per deployment. I can now either start filtering in my service and remove the simple filter (and hammer it with all the other events that have higher volumes sometimes, adding load to the system wher

[2022-06-17 06:15] lenalebt opened #823 "Support manually setting CPU requests for dispatcher pods"
**Problem**
With release 1.5, CPU requests have been added to the dispatcher pods, but they are not configurable, which is an issue in some cases (see https://github.com/knative-sandbox/eventing-rabbitmq/issues/813#issuecomment-1158525701).

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
System operator

**Exit Criteria**
CPU request for dispatcher pod can be set to

[2022-06-18 01:33] #612 closed

[2022-06-19 21:50] ikvmw opened #826 "Reconciler ConfigMap to Env hack mismanages ComponentName"
**Describe the bug**
This reports started as Knative Slack thread: https://knative.slack.com/archives/C02N2AK2K1P/p1652037600027259
User reports that /metrics endpoint of our ingress returns nothing and many errors logged.
[code]

 **Expected behavior**
/metrics works and renders all our metrics

 **To Reproduce**
Just spin up our stuff, forward port 9090, touch with `curl localhost:9090/metrics`

[2022-06-19 22:25] ikvmw commented on #826
As Quick Fix I propose #827. As a Proper solution I suggest refactoring for our ConfigWatcher, make decision what we cache here and what we don't and why we even pass that component down to resources via env. We can, for example put proper component name here for each resource, but MetricsConfig is cache and code for the overwrite wouldn't be pretty.
Also shall we formally export metrics port?

[2022-06-21 16:45] n3wscott commented on #826
Good datapoint!!

[2022-06-22 12:53] gab-satchi opened #829 "Validate support for a standalone broker support using messaging topology operator to manage RMQ resource lifecycle (crud)"
Will be using the `connectionSecret` in the Broker spec.

[2022-06-22 12:57] gab-satchi commented on #623
/remove-lifecycle stale

[2022-06-22 13:59] #829 closed

[2022-06-22 15:31] gunpuz opened #830 "RabbitMQ source hangs when message cannot be processed and retry configuration is set"
**Describe the bug**

Architecture:
`RabbitMQ` -> `RabbitMQ event source` -> `HTTP service that returns error`

Seems that when retry is configured, then exception occours
<img width="617" alt="image" src="https://user-images.githubusercontent.com/39419120/175068623-5e070ad3-ff5f-4d68-a7b7-4ec462be9032.png">

If retry values are not configured, then error is written in rabbitmq source log and next

[2022-06-22 21:25] gabo1208 commented on #830
Thank you very much for reporting this issue @gunpuz !!

You are correct on the observation I'm finishing a patch to fix this (also there is a mayor source update announced for the source in the next release so really awesome that you report this :D!)!!

We were not using the correct `RetryConfig` in the `SendWithRetries` function in the `Adapter` so whenever a retry was been attempted the backoff

[2022-06-22 22:06] gabo1208 commented on #830
/assign

[2022-06-22 23:50] nkreiger opened #832 "Rabbitmq Dispatcher Closing Channel Randomly and Not Reconnecting"
[code]

At random the dispatcher drops the connection and just sits there until I manually restart the pod and then it starts working again...it can last for 24 hours, 30 hours, or 2 hours, before it drops.

It ALWAYS drops 30 minutes after the last sent event, I'm just not sure what is causing it to drop

 **Expected behavior**
The dispatcher continues to listen on the queue.

 **To Reproduce**
S

[2022-06-23 00:16] gabo1208 commented on #832
Hey @nkreiger ! Thanks for the clear report :)!

What version of  the Eventing RabbitMQ's Broker are you using?

[2022-06-23 00:30] nkreiger commented on #832
thanks for the quick response:

rabbitmq.eventing.knative.dev/releease: 1.4.0

cluster operator is showing 1.12.1
topology operator is showing 1.5.0
rabbitmq:3.9.13-management

[2022-06-23 15:18] gabo1208 opened #833 "Add metadata to Dead lettered Messages"
**Problem**
Messages that fail to be delivered are Dead lettered without any modification, leaving the system/user with no easy way to know why they ended up there. A knative recommendation for this is to add some extra fields in this case that adds that missing info:
https://knative.dev/docs/eventing/event-delivery/#configuring-channel-event-delivery

**[Persona:](https://github.com/knative/event

[2022-06-23 16:36] gabo1208 commented on #832
Hey @nkreiger could you try upgrading the Eventing RabbitMQ version  to v1.5, cause the reconnection handler was introduced there.

[2022-06-24 12:36] #830 closed

[2022-06-24 13:10] gab-satchi opened #835 "Default settings for parallelism and queue type causing performance degradation"
**Describe the bug**
The default settings of a Broker/Trigger setup uses:
- Parallelism set to 1. This prefetches 1 message at a time and processes it using a single worker
- Queue type set to quorum.

With quorum queues, the acks can take a while to process. The acks need to be written to disk and propagated to all the nodes in the cluster. This causes a bottle-neck where the consumer is "starvin

[2022-06-27 09:13] gunpuz commented on #830
Thanks for the fast fixes @gabo1208. 👍  Any estimates (when/ in which version) this could be released?

[2022-06-27 17:34] gabo1208 commented on #830
No problem! And yes each fix gets cherry picked on Tuesdays so tomorrow or next Tuesday it will be available on release v1.5 :)

[2022-06-27 19:12] evankanderson commented on #835
Would it make sense to default `parallelism` to a value higher than 1 by default, and document the performance tradeoffs with `parallelism=1`?

[2022-06-27 19:27] gab-satchi commented on #835
Just the one issue. When using classic queues, we do not experience the penalty even when setting parallelism=1

We lose ordering when setting parallelism to > 1 which makes it more than a performance tradeoff. My suggestion would be to do:

[code]

Ordering would be maintained but our dispatcher would fetch 100 messages at a time and do a batch ack.

[2022-06-27 19:29] evankanderson commented on #835
The Broker interface explicitly does not guarantee ordering. 😁

I understand that ordering is useful in some cases, but I worry about having our default be "perform poorly until configured otherwise".

[2022-06-27 20:20] gab-satchi commented on #835
Added increasing the default `parallelism` as another option. It's another easy fix compared to implementing batch acks.

[2022-06-28 07:24] embano1 commented on #835
When we added parallelism we had this discussion of keeping the default (FIFO) or increasing performance (throughput). We decided to keep FIFO (parallelism: 1) because that was the behavior of existing deployments, i.e. we‘d potentially break RMQ Knative users ([Hyrum‘s law](https://www.hyrumslaw.com) in action).

I understand that ordering is not guaranteed by the SPEC but users rely on what they

[2022-06-29 16:50] xtreme-sameer-vohra commented on #835
- Would a user loose ordering in this scenario ? The batch fetched from RMQ would be in order but would using a worker pool allow guarantee of order ?
- Are there message delivery tradeoffs that would be made with option 1 since it would be a batch `ack` ?

[2022-06-29 17:22] gab-satchi commented on #835
If there's more than 1 worker then the user will lose ordering. If prefetch is set to 100 but a single worker is consuming messages (parallelism=1) then order will be maintained.

With prefetch > 1, we aren't forced to do batch ack. We can still ack 1 at a time and maybe can do it asynchronously so the next message to process isn't waiting for the ack to complete.

[2022-07-03 20:51] ikvmw opened #850 "*Possibly new Flake*"
I've been monitoring effectiveness of https://github.com/knative-sandbox/eventing-rabbitmq/pull/814 for last 2 weeks. I noticed that our Conformance tests are still flaky: https://github.com/knative-sandbox/eventing-rabbitmq/actions/workflows/kind-conformance.yaml?query=is%3Afailure

In particular I singled out these:

[code]
https://github.com/knative-sandbox/eventing-rabbitmq/runs/7142540950?che

[2022-07-06 14:19] gabo1208 commented on #832
Hey @nkreiger, any updates on this? You were able to upgrade the Eventing RabbitMQ version?

[2022-07-06 19:57] gab-satchi commented on #835
I did a spike with the following setup:
`Prefetch set to 100 but a single worker consumes the messages`

FIFO was maintained and when running the same performance test, the performance improved significantly. Receiver throughput basically matched the sender (similar to parallelism set to 100 test results):
![parallel-1-throughput](https://user-images.githubusercontent.com/4602447/177631901-387042e

[2022-07-08 14:32] gab-satchi commented on #759
closing as the task to update the performance images can be done post-release

/close

[2022-07-08 14:32] gab-satchi commented on #760
/close

[2022-07-08 14:33] #760 closed

[2022-07-08 15:55] #415 closed

[2022-07-08 19:08] #835 closed

[2022-07-11 18:14] gab-satchi opened #859 "Add Rabbitmq Source docs to Knative docs"
Currently, RabbitmqSource docs are only tracked in this repo. We should include some docs under Knative [docs](https://knative.dev/docs/eventing/sources/) to get started with RabbitmqSource.

[2022-07-11 18:15] gab-satchi opened #860 "Update RabbitMQ Broker docs"
Update the RabbitmqBroker Knative [docs](https://knative.dev/docs/eventing/broker/rabbitmq-broker/). The docs need to be updated to include new setup requirements for RabbitMQ broker config.

[2022-07-11 18:17] gab-satchi opened #861 "Send out community update for GA"
With the project moving to GA, we should send out a community update.

[2022-07-12 19:19] gab-satchi commented on #860
/close

done by https://github.com/knative/docs/pull/5093

[2022-07-13 13:25] gab-satchi commented on #607
/reopen
/remove-lifecycle stale

We currently attempt to deliver any non empty response back to the sender regardless of the `Prefer: reply` and status code (as long as it's 2xx). Should be updated to follow the rules outlined in the spec.

[2022-07-17 01:33] #518 closed

[2022-07-19 12:13] gab-satchi commented on #469
/reopen
/remove-lifecycle stale

[2022-07-19 12:50] gab-satchi commented on #465
/reopen
/remove-lifecycle stale
/assign

[2022-07-19 16:42] nkreiger commented on #832
Hi @gabo1208 sorry for the delay in the response...I was unable to upgrade the version because in the latest version you define specific resource limits on the brokers that didn't confine to our model (we use a lot of brokers to separate event types, its a very specific infrastructure style with serverless)...therefore, we immediately ran out of space when trying to upgrade and I had to go a diffe

[2022-07-19 16:43] nkreiger commented on #832
closing because I am unable to check the fix

[2022-07-19 16:43] #832 closed

[2022-07-19 16:50] gabo1208 commented on #832
Sure thing! We issued a patch lowering the minimal resource requests just in case you want to try it out!

[2022-07-21 20:43] #465 closed

[2022-07-26 21:53] gabo1208 commented on #859
In progress in this PR https://github.com/knative/docs/pull/5137

[2022-07-28 12:06] #647 closed

[2022-08-02 01:33] #561 closed

[2022-08-02 19:52] gabo1208 commented on #859
Merged docs PR, closing

[2022-08-02 19:52] #859 closed

[2022-08-04 02:24] gabo1208 commented on #740
this has been done in PR https://github.com/knative-sandbox/eventing-rabbitmq/pull/751

[2022-08-04 02:24] #740 closed

[2022-08-04 07:23] embano1 commented on #746
[code]

[2022-08-04 08:01] embano1 commented on #645
Just checked the code (please correct me if I'm wrong) so that anyone interested in this topic has a better understanding of the connection handling from the `ingress` to the RMQ Cluster (via `amqp091-go`).

It seems for establishing the initial `net.Conn` to RMQ, the `amqp091-go` defaults are used:

https://github.com/knative-sandbox/eventing-rabbitmq/blob/dfd65c5bec16c4758218b67fe2095f2055fdfdeb

[2022-08-06 00:45] gabo1208 commented on #566
This week I've been learning an implementing TLS for the communication between the Eventing RabbitMQ and RabbitMQ using the topology operator. On our side there were some bits missing, so next week this should be ready to try.

[2022-08-08 16:11] xtreme-sameer-vohra commented on #566
Thanks @gabo1208
What are the missing bits ?

[2022-08-08 16:20] xtreme-sameer-vohra opened #883 "Support RMQ Cluster configured with TLS using self-signed certificates"
**Problem**
A user configures RMQ cluster with TLS using self-signed certificates and would like to have Knative Eventing securely connect to the RMQ Cluster.
The two separate pieces would be
- RMQ Cluster -> Knative RMQ Source
- RMQ Cluster <-> Knative RMQ Broker

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this feature for?
This feature enables

[2022-08-17 21:25] xtreme-sameer-vohra opened #895 "Document configuring RMQ as the default broker on https://knative.dev/docs/eventing/configuration/broker-configuration/"
**Problem**
User's don't know how to configure RMQ as default broker

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this feature for?
System Operator

**Exit Criteria**
Documentation that a operator can follow to configure RMQ as default broker on a cluster

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve

[2022-08-17 21:35] xtreme-sameer-vohra commented on #895
Snippet with defaulting to RMQ Broker for `foo` namespace prior to 1.6
[code]

[2022-08-19 13:39] gunpuz opened #900 "RabbitmqSource documentation bugs"
**Describe the bug**

Documentation is not clear how to configure Rabbitmq Source.
Its incorrect and inconsistent in different places in the repo

 **Expected behavior**

There should be at least  **1 working** example how to configure rabbitmq source with advanced options

 **To Reproduce**

### Example 1:

https://github.com/knative-sandbox/eventing-rabbitmq/blob/main/docs/source/source-example.

[2022-08-19 15:30] gabo1208 commented on #900
Excellent catches! Thanks for taking the time on filling the issue @gunpuz. I'll be working on these next week :)
/assign

[2022-08-29 21:29] #900 closed

[2022-08-30 16:13] gabo1208 commented on #900
Thanks for this @gunpuz ! There was indeed a bug when parsing backoff delay in the Source, everything fixed and added a sample on how this works on the sample directory :)!

[2022-08-30 16:15] gunpuz commented on #900
That is awesome. Thanks @gabo1208 ! 👍

[2022-08-30 16:21] gabo1208 opened #910 "CE format to use (Binary or Structured)"
**Problem**
The user should be able to set the CE format to use (Binary or Structured) or expect in their sinks when using the Source and Trigger.
Right now the Protocol binding in pkg/message.go just handles Binary contexts

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Developers

**Exit Criteria**
- [ ] The user is able to set the Trigger "exit" CE format
- [ ]

[2022-08-30 16:24] gabo1208 opened #911 "The Source should have a DLQ"
This is more of a discussion issue to see if it makes sense for the Source to have a DLQ.

Right now the user could use the predeclared flag and configure its own DLQ, but could be a good addition (in special if we don't want to drop events into the void) to add an option just like the Broker, to have a DLQ for the source.

[2022-08-30 16:24] gabo1208 commented on #911
cc @xtreme-sameer-vohra @gab-satchi @ikvmw

[2022-08-30 16:27] gabo1208 opened #912 "TriggerConfig Resource"
**Problem**
Right now there are some small config parameters that we would like to manage for the Broker and Trigger like Vhosts, Ports, etc...
Having a `TriggerConfig` resource like the `BrokerConfig` one could give us the possibility to get rid of the annotations and have a clear place to define them.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Users

**Exit C

[2022-08-30 20:44] #818 closed

[2022-09-03 01:36] #573 closed

[2022-09-08 14:59] xtreme-sameer-vohra commented on #883
Hey @gab-satchi
@salaboy can be the primary for reviewing and I can be a secondary.

[2022-09-13 13:17] #883 closed

[2022-10-06 07:46] gunpuz opened #939 "RabbitMQ source connection retry is not working when no exchange and queue at startup + connection leak + log leak"
**Describe the bug**
When rabbitmq does not have exchange and does not have queue, newest rabbitmqsource tries to reconnect, but at the rate that fills up logs very quickly
"Log leak" - there are alot of log messages

## When there is no exchange and queue:

### Rabbitmq knative source logs
[code]
#### Rabbitmq logs
[code]

### After queue and exchange is created

#### Rabbitmq knative event sourc

[2022-10-07 01:32] #520 closed

[2022-10-11 22:47] gabo1208 commented on #939
Hey @gunpuz thanks for the detailed issue! I'll be tackling it this week 💪🏼 !

[2022-10-12 14:08] #550 closed

[2022-10-12 14:23] #823 closed

[2022-10-13 13:45] gab-satchi commented on #823
Hey @lenalebt, we implemented this recently and will be part of the 1.8 release. We've got a README for the new feature [here](https://github.com/knative-sandbox/eventing-rabbitmq/pull/948/files) and any feedback on it would be greatly appreciated.

One note on removing the requirements altogether: If any of the annotations are set, the defaulting will not take place. So setting the `limit` to 0 w

[2022-10-18 06:24] lenalebt commented on #823
Hey @gab-satchi ,
thanks! We sadly had quite a lot of trouble with the rabbitmq-broker and decided to move to Kafka a while ago, so I can't give you feedback with real-world experience here. But I'm pretty sure the resource allocation issues we had would have been solved this way!

[2022-10-18 14:12] gab-satchi commented on #823
Thanks @lenalebt,

If you recall any of the other troubling bits with rabbitmq-broker please let us know. We can work on improving it for current and future users.

[2022-10-18 14:16] gabo1208 opened #957 "Fix Security context on the RabbitMQ Source"
**Describe the bug**
Right now the Source's resources does not have a clear security context

 **Expected behavior**
Each pod that the source create must have a clear security context

 **To Reproduce**
Create a source

 **Knative release version**
<= 1.7

 **Additional context**
#954 example on how to do this

[2022-10-19 19:38] #957 closed

[2022-10-22 06:22] lenalebt commented on #823
I'll try to shortly remember, but I'm not very good at remembering things ;-).
* One of the troubles was it not recovering properly in many cases. Our development system runs on preemptible instances, which means they can basically die any moment, and we needed to manually care about getting it to work again on a daily basis. This works better with the kafka implementation (not trouble-free, but l

[2022-10-24 16:56] gab-satchi commented on #823
Thanks so much for the feedback!

We're working on consolidating the trigger pods so it's not one pod per trigger. The other issues have been addressed but I can understand the frustration when trying to use RabbitMQ.

[2022-10-26 03:12] gabo1208 opened #969 "Use knative services (when serving is installed)/KEDA annotations in the Broker, Trigger and Source resources"
**Problem**
Our resources do not use the autoscaling capabilities of knative serving nor the KEDA annotations

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Users

**Exit Criteria**
Resources scale down when we have serving installed

[2022-10-26 15:35] gunpuz opened #972 "Release docs: release info incorrect"
**Describe the bug**
A clear and concise description of what the bug is.

Release docs are not correct. Release description is the same for 1.8.1 and 1.8.0

Ref: https://github.com/knative-sandbox/eventing-rabbitmq/releases

1.8.0
<img width="851" alt="image" src="https://user-images.githubusercontent.com/39419120/198069994-c3981555-49e3-42f0-a8af-599662261cab.png">
1.8.1
<img width="847" alt="ima

[2022-10-26 16:12] gabo1208 commented on #972
True, we'll try to look at that and see if there is any issue with the release docs action, thank you very much @gunpuz 👍🏼

[2022-10-29 17:04] gabo1208 commented on #912
By solving the Vhost integration to Broker and Trigger, now there is no need for this, I'll close it and reopen in the future in case its needed

[2022-10-29 17:04] #912 closed

[2022-10-31 12:16] gunpuz commented on #939
@gabo1208 is this issue fixed in v1.8.1?

Seems that there is problem that rabbitmq source does not see fanout exchange and queue is also not recognized.

Describe from rabbitmq source:
![image](https://user-images.githubusercontent.com/39419120/199005635-8d8635c8-4eac-4c15-a135-75f568021fcc.png)

Rabbitmq management
![image](https://user-images.githubusercontent.com/39419120/199005733-cf7a7abe-20

[2022-10-31 12:28] gabo1208 commented on #939
Hey @gunpuz Hmmm yeah definitely a regression, I'll be working on a fix and a test thanks for the report!

[2022-10-31 13:36] gabo1208 commented on #939
This also made me consider exposing some `auto delete` option for queues I'll talk with the team to see if it makes sense for them too (to avoid upgrades deletions), I'll tag you when we create the issue =)

[2022-10-31 14:33] gunpuz commented on #939
Yes autodelete is the primary issue why `predefined = false` is not really usable

[2022-10-31 14:37] gunpuz commented on #939
It would be also nice if exchange type and other info could be configurable.

[2022-10-31 14:41] gabo1208 commented on #939
For the exchange type, we need the headers one to keep it simple for users to adopt the Knative eventing way. But if you want leave your use case here to see if it makes sense to expose some other config params

[2022-11-04 01:32] #850 closed

[2022-11-08 14:25] gabo1208 opened #990 "Source and Triggers Queues are not deleted if the resource is deleted"
**Problem**
Sometimes Queues need to persist beyond the Sources and Triggers lifecycle. Add an option: QueuePersist to their Spec so an user can configure this

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Users

**Exit Criteria**
- Queue Persist is implemented for Triggers
- Queue Persist is implemented for Sources

**Additional context (optional)**
[#939](https:

[2022-11-08 14:54] gabo1208 opened #991 "Improve RabbitMQ Setup pkg"
**Problem**
We need a better isolation of concerns and edge case management from the rabbitmq setup pkg

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Users, Developers

**Exit Criteria**
Rmq Setup pkg works as expected and is better defined to handle just rmq connections and reconnections

[2022-11-08 18:11] #990 closed

[2022-11-08 18:12] gabo1208 commented on #990
After further discussion this is not what we want for our queues

[2022-11-16 13:19] gunpuz commented on #939
btw, for starters it would be awesome and this issue could be resolved if rabbitmq source would:
- not leak connections if there is no queue and exchange.
- not leak logs if there is no queue and exchange.
- support fanout exchange type with `predeclared = true`

[2022-11-16 13:46] gabo1208 commented on #939
Hey @gunpuz, sorry for the delay! but https://github.com/knative-sandbox/eventing-rabbitmq/pull/1002 is aiming for that, I'm testing those edge cases today and plan to unhold it afterwards =)

[2022-11-24 17:38] #939 closed

[2022-11-30 20:25] gab-satchi opened #1014 "Improve UX for RabbitMQSource"
There are some issues I came across while using RabbitMQSource. This can be a epic like issue and can create smaller issues for the individual changes.

Validation and inference

- When predeclared is set to true, the queueName isn't a required field. The queueName should be the only required field for a predefined topology as the source would simply consume from that queue
- When predeclared set